@import (reference) "../../pb-main.less";

.movie-cal{ border-top:#161616 2px solid; margin-top:-1px;}
.movie-cal .hd{ position:relative; padding:0 40px; border-bottom:#eee 1px solid;}
.movie-cal .day-cnt{ overflow:hidden;  }
.movie-cal .day-cnt .swiper-slide{ width:60px;}
.movie-cal .day-cnt .wrap{ text-align:center; display:block;}
.movie-cal .day-cnt .month .wrap{ line-height:70px; height:70px; color:#828282; font-size:18px;}
.movie-cal .day-cnt .day .wrap{ height:70px; padding:5px 0 0 0;}
.movie-cal .day-cnt .day .wrap .week{ color:#828282; height:13px; line-height:1.4;}
.movie-cal .day-cnt .day .wrap .sun{ color:#fa3a53; height:13px; line-height:1.4;}
.movie-cal .day-cnt .day .wrap .sat{ color:#1e46ad; height:13px; line-height:1.4;}
.movie-cal .day-cnt .day .wrap .n{ color:#161616; font-size:32px; font-weight:600;}
.movie-cal .day-cnt .day .wrap .nsun{ color:#fa3a53; font-size:32px; font-weight:600;}
.movie-cal .day-cnt .day .wrap .nsat{ color:#1e46ad; font-size:32px; font-weight:600;}
.movie-cal .day-cnt .day .wrap .ndis{ color:#efefef; font-size:32px; font-weight:600;}
.movie-cal .day-cnt .day .wrap:hover,
.movie-cal .day-cnt .day.active .wrap{ background-color:#fa2a4a; text-decoration:none;}
.movie-cal .day-cnt .day .wrap:hover *,
.movie-cal .day-cnt .day.active .wrap *{ color:#fff; text-decoration:none;}
.movie-cal .day-cnt .prev,
.movie-cal .day-cnt .next{ position:absolute; top:50%; border-radius:50%; width:24px; height:24px; margin-top:-12px; display:block; background-color:#eee; z-index:9; overflow:hidden;}
.movie-cal .day-cnt .prev::after,
.movie-cal .day-cnt .next::after{ content:""; position:absolute; top:50%; left:50%; margin:-4px 0 0 -3px; display:block; width:8px; height:8px; border-top:#fff 1px solid; border-left:#fff 1px solid; -webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.movie-cal .day-cnt .next::after{ margin:-5px 0 0 -6px; -webkit-transform:rotate(135deg); transform:rotate(135deg); }
.movie-cal .day-cnt .prev span,
.movie-cal .day-cnt .next span{ position:absolute; top:-9999px; left:-9999px;}
.movie-cal .day-cnt .prev{ left:15px;}
.movie-cal .day-cnt .next{ right:15px;}
.movie-cal .day-cnt .prev:hover,
.movie-cal .day-cnt .next:hover{ background-color:#666;}
.movie-cal .loc-tab{ position:relative; }
.movie-cal .loc-tab::before{ content:""; position:absolute; bottom:0; left:0; display:block; background-color:#eee; width:100%; height:1px; }
.movie-cal .loc-tab::after{ content:""; clear:both; display:block;}
.movie-cal .loc-tab a{ position:relative; float:left; width:76px; height:52px; line-height:52px; display:block; color:#828282; text-align:center; border-bottom:#eee 1px solid; }
.movie-cal .loc-tab a.active,
.movie-cal .loc-tab a:hover{ color:#fa2a4a; text-decoration:none;}
.movie-cal .loc-tab a.active::after,
.movie-cal .loc-tab a:hover::after{ content:""; position:absolute; bottom:-1px; left:0; background-color:#fa2a4a; width:100%; height:2px; display:block;}
.movie-cal .con .con-row{ display:table; table-layout:fixed; width:100%; border-bottom:#eee 1px solid;}
.movie-cal .con .con-row > *,
.movie-cal .con .con-row2 > *{ display:table-cell; vertical-align:middle; padding:25px 0;}
.movie-cal .con .con-row .s-tit{ width:190px; padding:25px 15px; color:#161616; font-weight:600;}
.movie-cal .con .con-row .s-lst{ padding:10px 0 25px; }
.movie-cal .con .s-lst .itm{ float:left; width:80px; display:block; text-align:center; margin:15px 15px 0 0; }
.movie-cal .con .s-lst .itm:hover{ text-decoration:none; }
.movie-cal .con .s-lst .itm .tit{ display:none;}
.movie-cal .con .s-lst .itm .hname{ color:#828282; font-size:13px; margin:0;}
.movie-cal .con .s-lst .itm .desc{ padding:0 0 8px 0; background-color:#eee; border-radius:3px; color:#828282; }
.movie-cal .con .s-lst .itm .desc p{ font-size:13px; margin:0; border-bottom:#fff 1px solid; line-height:1; padding:8px 0;}
.movie-cal .con .s-lst .itm .desc strong{ display:block; font-size:15px; color:#161616; font-weight:600; margin:8px 0 0;}
.movie-cal .con .s-lst .itm .desc span{ display:block; font-size:10px; }
.movie-cal .con .s-lst .itm:hover .desc,
.movie-cal .con .s-lst .itm.active .desc{ background-color:#fa2a4a;  }
.movie-cal .con .s-lst .itm:hover .desc > *,
.movie-cal .con .s-lst .itm.active .desc > *{ color:#fff;}
.movie-cal .cmt{ text-align:right; margin:10px 0 0 0;}

.movie-cal .con .con-row2{ display:table; table-layout:fixed; width:100%; border-bottom:#eee 1px solid;}
.movie-cal .con .con-row2:last-child{ border-bottom:#161616 2px solid; }
.movie-cal .con .con-row2 .poster-image{ width:110px; padding:25px 15px; vertical-align:top;}
.movie-cal .con .con-row2 .poster-image img{ width:100%;}
.movie-cal .con .con-row2 .poster-desc .movie-name{ font-weight:600; color:#161616; border-bottom:#eee 1px solid; padding:0 0 10px 0;}
.movie-cal .blt{ width:25px; height:20px; border-radius:10px; display:inline-block; color:#fff; font-weight:600; font-style:normal; font-size:11px; line-height:20px; text-align:center; font-family:sans-serif;}
.movie-cal .blt.blt001{ background-color:#32b16c;}
.movie-cal .blt.blt002{ background-color:#0688f6;}
.movie-cal .blt.blt003{ background-color:#f79f38;}
.movie-cal .blt.blt004{ background-color:#fa2a4a;}

.movie-cal .blt.blt-all{ background-color:#00ab24;}
.movie-cal .blt.blt-12{ background-color:#0589f9;}
.movie-cal .blt.blt-15{ background-color:#f98700;}
.movie-cal .blt.blt-18{ background-color:#cd2027;}
.movie-cal .blt.blt-99{ background-color:#4c4c4c;}


.bPopup{ display:none; background-color:#fff;}
.bPopup .bt-close{ position:absolute; display:block; background-color:#f5f5f5; width:40px; height:40px; top:20px; right:20px;}
.bPopup .bt-close::before{ content:""; position:absolute; top:50%; left:50%; margin-left:-10px; width:20px; height:1px; background-color:#333; display:block; -webkit-transform:rotate(-135deg);transform:rotate(-135deg);}
.bPopup .bt-close::after{ content:""; position:absolute; top:50%; left:50%; margin-left:-10px; width:20px; height:1px; background-color:#333; display:block; -webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.bPopup .bt-close span{ position:absolute; top:-9999px; left:-9999px;}
.bPopup .tit{ padding:20px 0; line-height:1; text-align:center; border-bottom:#eee 1px solid; color:#161616; font-size:22px; margin:0;}
#popReg{ width:960px; padding:0 30px 54px;}
#popReg .reg-con{ display:table; width:100%; padding:30px 0 0 0;}
#popReg .reg-con > .rowc{ position:relative; display:table-cell; vertical-align:top; width:50%; padding:0 30px 0 0; }
#popReg .reg-con > .rowc + .rowc{ padding:0 0 0 30px; border-left:#eee 1px solid;}
#popReg h4{ font-size:18px; color:#161616; font-weight:600; line-height:1;}
#popReg .scrollbx{ background-color:#edeef1; height:250px; overflow-y:auto; padding:20px; border-radius:5px; margin:25px 0 20px;}
#popReg .chk{ text-align:right;}
#popReg .desc01{ margin:10px 0 25px;}
#popReg table{ border-top:#edeef1 1px solid; width:100%; border-collapse:separate; border-spacing:0px;}
#popReg table th{ padding:10px 20px; text-align:left; border-bottom:#fff 1px solid; background-color:#edeef1;}
#popReg table tr:last-child th{ border-bottom:#edeef1 1px solid;}
#popReg table td{ padding:10px 20px; text-align:left; border-bottom:#edeef1 1px solid;}
#popReg .reg-wrap .reg-row{ display:table; width:100%;}
#popReg .reg-wrap .reg-row + .reg-row{ margin-top:15px;}
#popReg .reg-wrap .reg-row > *{ display:table-cell; vertical-align:middle;}
#popReg .reg-wrap .reg-row .stit{ width:80px;}
#popReg .reg-wrap .input{ border:#e6e6e6 1px solid; border-radius:3px; height:50px; line-height:50px; padding:0 10px; width:100%;}
#popReg .reg-wrap .select{ border:#e6e6e6 1px solid; border-radius:3px; height:50px; line-height:50px; padding:0 30px 0 10px; width:100%; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none; appearance:none; background:url(../img/blt_select.png) 100% 50% no-repeat;}
#popReg .reg-wrap .reg-row .scon::after{ content:""; clear:both; display:block;}
#popReg .reg-wrap .reg-row .scon.hp .select{ float:left; width:30%;}
#popReg .reg-wrap .reg-row .scon.hp .input{ float:left; width:30%; margin-left:5%;}
#popReg .btn-gup{ position:absolute; bottom:0; left:0; width:100%; padding:0 0 0 30px;}
#popReg .btn-gup > a{ width:48%; display:block; float:left; height:50px; line-height:50px; border:#bcbcbc 1px solid; border-radius:5px; font-size:18px; color:#828282; text-align:center; position:initial;}
#popReg .btn-gup > a:hover{ text-decoration:none; background-color:#eee;}
#popReg .btn-gup > a.ok{ color:#fff; background-color:#fa2a4a; border-color:#fa2a4a;}
#popReg .btn-gup > a.ok:hover{ background-color:#d40021;}
#popReg .btn-gup > a + a{ margin-left:4%;}

@media screen and (max-width: 960px){
	#popReg{ width:96%; padding:0 15px 30px;}
	#popReg .reg-con{ display:block; padding-top:10px;}
	#popReg .reg-con > .rowc{ display:block; width:100%; padding:0; }
	#popReg .reg-con > .rowc + .rowc{ padding:0; border-left:none;}
	#popReg .desc01{ margin:5px 0 10px;}
	#popReg table th,
	#popReg table td{ padding:6px 10px;}
	#popReg .scrollbx{ padding:15px; height:150px; margin:15px 0 10px;}
	#popReg .reg-wrap .reg-row + .reg-row{ margin-top:5px;}
	#popReg .reg-wrap .input{ height:36px; line-height:36px; padding:0 5px;}
	#popReg .reg-wrap .select{ height:36px; line-height:36px; padding:0 15px 0 5px; background:url(../img/blt_select.png) 100% 50% no-repeat;}
	#popReg .btn-gup{ position:relative; bottom:auto; left:auto; width:100%; padding:0; margin-top:20px;}
	#popReg .btn-gup > a{ border-radius:3px; height:40px; line-height:40px; font-size:16px;}
	.bPopup .bt-close{ top:10px; right:15px;}
}

#popRegR{ width:960px; padding:0 30px 54px;}
#popRegR .reg-con{ display:table; width:100%; padding:30px 0 0 0;}
#popRegR .reg-con > .rowc{ position:relative; display:table-cell; vertical-align:top; width:50%; padding:0 30px 0 0; }
#popRegR .reg-con > .rowc + .rowc{ padding:0 0 0 30px; border-left:#eee 1px solid;}
#popRegR h4{ font-size:18px; color:#161616; font-weight:600; line-height:1;}
#popRegR .scrollbx{ background-color:#edeef1; height:250px; overflow-y:auto; padding:20px; border-radius:5px; margin:25px 0 20px;}
#popRegR .chk{ text-align:right;}
#popRegR .desc01{ margin:10px 0 25px;}
#popRegR table{ border-top:#edeef1 1px solid; width:100%; border-collapse:separate; border-spacing:0px;}
#popRegR table th{ padding:10px 20px; text-align:left; border-bottom:#fff 1px solid; background-color:#edeef1;}
#popRegR table tr:last-child th{ border-bottom:#edeef1 1px solid;}
#popRegR table td{ padding:10px 20px; text-align:left; border-bottom:#edeef1 1px solid;}
#popRegR .reg-wrap .reg-row{ display:table; width:100%;}
#popRegR .reg-wrap .reg-row + .reg-row{ margin-top:15px;}
#popRegR .reg-wrap .reg-row > *{ display:table-cell; vertical-align:middle;}
#popRegR .reg-wrap .reg-row .stit{ width:80px;}
#popRegR .reg-wrap .input{ border:#e6e6e6 1px solid; border-radius:3px; height:50px; line-height:50px; padding:0 10px; width:100%;}
#popRegR .reg-wrap .select{ border:#e6e6e6 1px solid; border-radius:3px; height:50px; line-height:50px; padding:0 30px 0 10px; width:100%; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none; appearance:none; background:url(../img/blt_select.png) 100% 50% no-repeat;}
#popRegR .reg-wrap .reg-row .scon::after{ content:""; clear:both; display:block;}
#popRegR .reg-wrap .reg-row .scon.hp .select{ float:left; width:30%;}
#popRegR .reg-wrap .reg-row .scon.hp .input{ float:left; width:30%; margin-left:5%;}
#popRegR .btn-gup{ position:absolute; bottom:0; left:0; width:100%; padding:0 0 0 30px;}
#popRegR .btn-gup > a{ width:48%; display:block; float:left; height:50px; line-height:50px; border:#bcbcbc 1px solid; border-radius:5px; font-size:18px; color:#828282; text-align:center;}
#popRegR .btn-gup > a:hover{ text-decoration:none; background-color:#eee;}
#popRegR .btn-gup > a.ok{ color:#fff; background-color:#fa2a4a; border-color:#fa2a4a;}
#popRegR .btn-gup > a.ok:hover{ background-color:#d40021;}
#popRegR .btn-gup > a + a{ margin-left:4%;}

@media screen and (max-width: 960px){
	#popRegR{ width:96%; padding:0 15px 30px;}
	#popRegR .reg-con{ display:block; padding-top:10px;}
	#popRegR .reg-con > .rowc{ display:block; width:100%; padding:0; }
	#popRegR .reg-con > .rowc + .rowc{ padding:0; border-left:none;}
	#popRegR .desc01{ margin:5px 0 10px;}
	#popRegR table th,
	#popRegR table td{ padding:6px 10px;}
	#popRegR .scrollbx{ padding:15px; height:150px; margin:15px 0 10px;}
	#popRegR .reg-wrap .reg-row + .reg-row{ margin-top:5px;}
	#popRegR .reg-wrap .input{ height:36px; line-height:36px; padding:0 5px;}
	#popRegR .reg-wrap .select{ height:36px; line-height:36px; padding:0 15px 0 5px; background:url(../img/blt_select.png) 100% 50% no-repeat;}
	#popRegR .btn-gup{ position:relative; bottom:auto; left:auto; width:100%; padding:0; margin-top:20px;}
	#popRegR .btn-gup > a{ border-radius:3px; height:40px; line-height:40px; font-size:16px;}
	.bPopup .bt-close{ top:10px; right:15px;}
}


@media screen and (max-width: 767px){
	.movie-cal .loc-tab a{ height:40px; line-height:40px; }
	.movie-cal .con .con-row{ display:block;}
	.movie-cal .con .con-row > *{ display:block;}
	.movie-cal .con .con-row .s-tit{ display:none;}
	.movie-cal .con .con-row .s-lst{ padding:0 15px 15px; }
	.movie-cal .con .con-row .s-lst::after{ content:""; clear:both; display:block;}
	.movie-cal .con .con-row .s-lst .itm .tit{ display:block; color:#161616; font-weight:600;}
}

/*layer popup css*/
.pop-if{ width:960px; height:700px; background-color:#fff;}
.pop-if .b-iframe{ width:960px; height:700px; border:none;}
/* .pop-if .b-iframe{ width:100%; height:700px; border:none;} */
.pop-if .bt-closeM{ position:absolute; top:-44px; right:0; width:28px; height:28px; display:block; -webkit-transform:rotate(45deg);transform:rotate(45deg);}
.pop-if .bt-closeM:before{ content:""; position:absolute; top:50%; left:0; width:28px; height:2px; background-color:#fff; margin-left:1px;}
.pop-if .bt-closeM:after{ content:""; position:absolute; left:50%; top:0; width:2px; height:28px; background-color:#fff; margin-top:1px;}

.pop-ifR{ width:960px; height:700px; background-color:#fff;}
.pop-ifR .b-iframe{ width:960px; height:700px; border:none;}
/* .pop-ifR .b-iframe{ width:100%; height:700px; border:none;} */
.pop-ifR .bt-closeM{ position:absolute; top:-44px; right:0; width:28px; height:28px; display:block; -webkit-transform:rotate(45deg);transform:rotate(45deg);}
.pop-ifR .bt-closeM:before{ content:""; position:absolute; top:50%; left:0; width:28px; height:2px; background-color:#fff; margin-left:1px;}
.pop-ifR .bt-closeM:after{ content:""; position:absolute; left:50%; top:0; width:2px; height:28px; background-color:#fff; margin-top:1px;}

