@import (reference) "../../pb-main.less";

.page-movie-interpark-frame{
	.title-wrap{
		border-bottom: 1px solid @gray-light;

		.title{
			margin-top: -5px;
			font-size: 22px;
			margin-bottom: 10px;
		}
	}
	
}

