@import (reference) "../../pb-main.less";

.page-movie-list-frame{
	.title-wrap{
		border-bottom: 1px solid @gray-light;

		.title{
			margin-top: -5px;
			font-size: 22px;
			margin-bottom: 10px;
		}
	}
	
	.pb-movie-list-table{

		.no-rowdata{
			color: @gray-light;
			text-align: center;
    		padding: 70px 100px;
		}
		
		.pb-list-grid-item {
			display: block;
			float: left;
			padding: 30px 20px 0 20px;
			width: 33.33333%;

			> .pb-movie-item{

				.movie-info{
					padding-bottom: 5px;
				}				
				.sub-info{

            		> .sub-item{
            			&.left{
            				line-height: 30px;
            			}
            		}
            	}
			}

			@media screen and (max-width: @screen-xs-max){
				float: none;
				width: 100%;
				padding: 0px;

	            & + .pb-list-grid-item{
	            	> .pb-movie-item{
			        	border-top: 1px solid @gray-lighter;
			        }    
	            }

	            > .pb-movie-item{
	            	.movie-info{
						padding-bottom: 0px;
					}
					
					.sub-info{
	            		border-top: none;
	            		margin-top: 0;

	            		> .sub-item{
	            			&.left{
	            				line-height: 18px;
	            			}
	            		}
	            	}
	            	
	            }
	        }


		}


		&:after{
			display: table;
			content: "";
			table-layout: fixed;
			width: 100%;
			clear: both;
		}

	}

	.pb-list-pagenav{
		margin-top: 30px;
	}
}

