@import (reference) "../../pb-main.less";


.pb-movie-view-frame{
	.title-wrap{
		border-bottom: 1px solid @gray-light;

		.title{
			margin-top: -5px;
			font-size: 22px;
			margin-bottom: 10px;
			float: left;
		}

		.movie-level-info{
			float: right;
		}

		&:after{
			display: table;
			content: "";
			clear: both;
		}
	}

	.poster-image-wrap{
		display: table;
		table-layout: fixed;
		width: 100%;

		@media screen and (max-width: @screen-xxs-max){
			display: block;
		}

		> .col{
			display: table-cell;
			vertical-align: top;
			box-sizing: border-box;

			@media screen and (max-width: @screen-xxs-max){
				display: block;
			}

			&.col-poster-image{
				width: 230px;
				padding: 20px 10px;

				@media screen and (max-width: @screen-xs-max) and (min-width: @screen-xs-min){
					width: 180px;
				}

				@media screen and (max-width: @screen-xxs-max){
					width: 100%;
					max-width: 250px;
					margin: 0 auto;

				}
			}

			&.col-movie-info{
				padding: 20px 30px;

				@media screen and (max-width: @screen-xs-max) and (min-width: @screen-xs-min){
					padding: 20px 15px;
				}

				@media screen and (max-width: @screen-xxs-max){
					padding: 20px 10px;
				}

				.movie-title{
					vertical-align: top;
					padding-bottom: 10px;
					margin-top: 0px;

					> .movie-rate-badge{
						vertical-align: top;
					}

					border-bottom: 1px solid @gray-lighter;
				}

				.subinfo-list{
					display: block;
					position: relative;

					> .subinfo-item{
						display: table;
						table-layout: fixed;
						width: 100%;

						& + .subinfo-item{
							margin-top: 5px
						}

						> .subject,
						> .content,
						> .content-text{
							display: table-cell;
							box-sizing: border-box;
							vertical-align: top;
						}

						> .subject{
							font-weight: bold;
							width: 80px;
							color: @gray-light;
							padding-right: 20px;
							text-align: right;
						}

					}
				}
			}
		}

	}
}