@import (reference) "../../../pb-main.less";


.pb-kofic-find-db-modal{

	.find-results-list{

		margin-top: 20px;

		.message{
			padding-top: 50px;
			padding-bottom: 70px;

			text-align: center;
			color: @gray-light;
		}

		.loading-indicator{
			padding-top: 50px;
			padding-bottom: 70px;

			> .icon{
				margin: 0 auto;
			}
		}
	}

	.kofic-movie-info-item{
		margin: 0 10px;
		padding: 7px 10px;

		.movie-title{
			font-size: 20px;
			font-weight: bold;
		}

		.subinfo{
			font-size: 10px;
			color: @gray;

			> .item{
				display: inline-block;

				& + .item:before{
					display: inline-block;
					content: "|";
					margin: 0 5px;
					color: @gray-light;
				}
			}

			
		}

		& + .kofic-movie-info-item{
			border-top: 1px solid @gray-lighter;
		}
	}
}
