@import (reference) "../../../../pb-main.less";


.pb-adminpage-push-msg-manage-table{
	
	thead th,td,
	tbody th,td{

		&.msg_title{
			width: 30%;

			@media screen and (max-width: @screen-xs-max){
				width: 40%
			}

		}

		&.msg_title{
			

		}
	}

}


.pb-movie-screen-item{
	display: table;
	table-layout: fixed;
	width: 100%;
	border: 1px solid @gray-lighter;

	&,&:focus,&:hover,&:active{
		text-decoration: none;	
	}
	

	> .col{
		display: table-cell;
		box-sizing: border-box;
		vertical-align: middle;

		&.poster-image-col{
			width: 45px;

		}

		&.info-col{
			padding-left: 10px;
			width: 100%;

			.movie-name{
				font-weight: bold;
				display: block;
				color: @brand-primary;
			}

			.subinfo-list{
				font-size: 10px;
				line-height: 14px;
				.subinfo-item{
					display: inline-block;
					color: @gray-light;

					& + .subinfo-item:before{
						display: inline-block;
						content: "|";
						padding: 0 3px;
						color: @gray-lighter;
					}
				}
			}

				
		}
	}
}

#pb-movie-screen-id-table{
	margin-top: 20px;

	.pb-list-grid-item + .pb-list-grid-item {
		margin-top: 10px;
	}	
}
