.btn-variant-border(@color; @hover-color){

  .button-variant(@color; transparent; @color);

  &:focus,
  &.focus {
    color: @hover-color;
    background-color: @color;
  }
  &:hover {
    color: @hover-color;
    background-color: @color;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @hover-color;
    background-color: @color;

    &:hover,
    &:focus,
    &.focus {
		color: @hover-color;
		background-color: @color;
    }
  }
}

.btn-white {
  .button-variant(@gray-base; white; @gray-light);
}


.btn-black{
	.button-variant(white; #444444; #444444);
}


.btn-border{
     
	&.btn-white{
		.btn-variant-border(white; black);
	}

  &.btn-primary{
    .btn-variant-border(@brand-primary; white);
  }

	&.btn-black{
		.btn-variant-border(black; white);
	}


}