.pb-file-list-frame{

	
	 	padding-left: 0;
	    list-style: none;
	    margin-bottom: 20px;

	    > .file-item{
	        padding: 5px 0;
	        > .icon{
	            margin-right: 5px;
	            color: @gray-light;
	        }

	        > .delete-btn{
	            margin-left: 10px;
	            color: @gray-light;
	            vertical-align: middle;
	            &:hover,&:active, &:visited{
	                color: darken(@gray-light, 10%);
	            }
	        }
	    }
}