.btn-fileupload{
	position: relative;
	overflow: hidden;
	display: inline-block;

	&.loading{
		
		> .loading-indicator{
			display: inline-block;
		}

		> .label-text,> .label-icon, > .label-dropzone{
			display: none;
		}
	}

	> .loading-indicator{
		display: none;
	}

	> input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		-ms-filter: 'alpha(opacity=0)';
		font-size: 200px !important;
		direction: ltr;
		cursor: pointer;
	}

	> .label-icon{
		margin-right: 3px;
	}

	&.btn-fileupload-dropzone{
	    display: block;
	    border: 5px dashed @gray-lighter;
		color: darken(@gray-lighter,20%);
		background-color: transparent;
		font-size: 20px;
		padding: 50px 5px;

		&:hover,&:active,&:visited{
			color: darken(@gray-lighter,20%);
			border-color: darken(@gray-lighter,10%);
			background-color: transparent;
		}

		&.dropin{
			border-color: lighten(@brand-primary, 20%);
			background-color: transparent;	
		}

		> .label-dropzone{
			display: block;
			font-size: 14px;
			text-align: center;
		}
	}

}