.pb-slide-list-frame{

	display: block;

	> .slide-item,
	> .add-btn{
		display: inline-block;
		width: 100%;
		height: 80px;
		box-sizing: border-box;
		
		margin-right: 10px;
		margin-bottom: 5px;
	}

	> .slide-item{
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		background-color: @gray-lighter;
		border: 1px solid lighten(@gray-light,20%);
		// overflow: hidden;

		> .preview-wrap{
			position: absolute;
			display: block;
			z-index: 0;
			width: 100%;
			height: 100%;

			> .preview{
				display: block;
				width: 100%;
				height: 100%;

				background-position: center;
				background-repeat: no-repeat;
				
				background-size: 100% auto;
				background-size: cover;
				z-index: 0;
			}
		}

		> .content{
			position: relative;
			direction: block;
			padding: 20px 20px;
			z-index: 1;
			// background-color: rgba(255,255,255,0.5);

			.form-control{
				background-color: rgba(255,255,255,0.7);
			}

			label{
				background-color: rgba(255,255,255,0.7);
				padding: 2px 5px;
				margin-left: 20px;
				min-width: 70px;
				text-align: center;
				margin-bottom: 0;
			}

			.help-block{
				background-color: rgba(255, 255, 255, 0.5);
				color: black;
				margin-top: 0;
				margin-left: 20px;
				margin-right: 20px;
				padding: 2px 5px;
			}
		}

		> .delete-btn{
			position: absolute;
			display: inline-block;
			width: 25px;
			height: 25px;
			background-color: @brand-danger;
			color: white;
			right: -10px;
			top: -10px;
			border-radius: 50%;
			text-align: center;
			line-height: 25px;
			font-size: 20px;
			box-shadow: -2px 2px 3px rgba(0,0,0,0.3);
			z-index: 2;

			&:before{
				.fa();
				content: @fa-var-times;
			}
		}
	}

	> .add-btn{
		border: 3px dashed lighten(@gray-light,20%);

		color: lighten(@gray-light,20%);
		line-height: 10px;
		text-align: center;
		vertical-align: top;
		font-size: 40px;
		padding: 30px 0;

		&:hover,&:active,&:focus{
			text-decoration: none;
		}
	}
}