input, textarea, select{
	&:-webkit-autofill,
	&:autofill{
		background-color: @input-bg;
	}
}

.form-control{
	&.readonly{
		background-color: @input-bg-disabled;
		opacity: 1;
	}
}

.form-margin,
.form-margin-sm{
  display: block;
  margin-top: 20px;
}

.form-margin-xs{
  display: block;
  margin-top: 10px;
}
.form-margin-xxs{
  display: block;
  margin-top: 5px;
}

.form-margin-lg{
  display: block;
  margin-top: 40px;
}

.form-div-border{
		border-top: 1px solid @gray-lighter;
		display: block;
		clear: both;
		width: 100%;
		margin-top: 5px;
		margin-bottom: 5px;
	}


.pb-border-form{
	.form-horizontal;

	.form-group{
		margin-bottom: 0px;
		margin-top: 0px;
		padding-top: 5px;
		padding-bottom: 5px;

	}
	

	.radio,
	.checkbox{

		&.with-top{
			margin-top: 0;
			padding-top: 0;

			label{
				padding-left: 40px;
			}
		}

		
	}
}

.btn-ajax{
	> .normal{
		display: inline-block;
	}	
	> .loading,
	> .complete{
		display: none;
	}

	&.loading{
		.btn.disabled;

		> .normal,
		> .complete{
			display: none;
		}	
		> .loading{
			display: inline-block;
		}
	}

	&.complete{
		.btn.disabled;

		> .normal,
		> .loading{
			display: none;
		}	
		> .complete{
			display: inline-block;
		}
	}
}

.help-block.with-errors{
	margin-top: 0;
	margin-bottom: 0;

	> .list-unstyled{
		margin-top: 3px;
		margin-bottom: 5px;
		font-size: 12px;
	}
}

.form-control{
	&.remote-processing{
		background-image: url(../img/form-ajax-indicator.svg);
		background-color: unset;
		background-position: right 10px center;
		background-size: 22px auto;
		background-repeat: no-repeat;
	}
}

.pb-loading-indicator {
	background-image: url(../img/form-ajax-indicator.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 50px;
	height: 50px;
	display: block;
}

.input-with-icon{
	position: relative;
	
	> .icon{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		color: @gray-lighter;

		font-size: 20px;
		left: 12px;
	}
	
	> .form-control{
		padding-left: 37px;
	}

	&.lg{
		> .icon{
			font-size: 25px;
			left: 15px;
		}
		> .form-control{
			.input-lg;
			padding-left: 45px;
		}
	}
}