.pb-list-table{
	margin-bottom: 0px;
}

.pb-list-pagenav{
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;

	> .pagenav-btn,
	> .page-monitor,
	> .page-monitor > .fa{
		    vertical-align: top;
			display: inline-block;
	}

	> .pagenav-btn{
		font-size: 30px;
		line-height: 30px;
		color: @brand-primary;
		padding: 0 10px;
		margin: 0 7px;

		&:active,
		&:hover{
			color: lighten(@brand-primary, 15%);
		}
	}

	> .page-numbers{
		font-size: 17px;
		line-height: 30px;
		margin-top: 2px;
		display: inline-block;
		padding: 0 5px;
		margin: 2px 5px 0 5px;

		&.active{
			border-bottom: 2px solid @brand-primary;
		}

		&:hover,&:focus{
			text-decoration: none;
		}
	}

	> .page-monitor{
		line-height: 30px;
		font-size: 17px;
		color: @gray-darker;
		margin-top: 2px;
	}
}	

body.wp-admin{
	.pb-list-pagenav{
		margin-top: 10px;
		text-align: right;

		> li{
			display: inline-block;
			
			> a{
				display: block;
				padding: 5px 10px;
				font-size: 18px;
			}

			&.active{
				> a{
					text-decoration: none;
					color: #797979;
				}
			}
		}
	}
}