

.container-xs{
	.container;
	max-width: @screen-xs-max;
}
.container-xxs{
	.container;
	max-width: @screen-xs-min;	
}

.agreement-box{
	font-size: 9px;
	border: 1px solid @gray-lighter;
	height: 150px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	padding: 10px 10px 30px 10px;
}