.modal-backdrop.appendto-element{
	z-index: @pb-modal-zindex - 2 !important;
	position : absolute !important;
}

.pb-common-popup{
	@media screen and (max-width: @screen-xs-max){
		padding-left: 10px;
		padding-right: 10px;
	}
	> .modal-dialog{
		max-width: 450px;
		margin: 10px auto;
	}
}

.modal{

	&.appendto-element{

		> .modal-dialog{
			max-width: 768px;
		}
		
		z-index: @pb-modal-zindex - 1 !important;
		position : absolute !important;
	}

	/*text-align: center;
	padding: 0!important;

	&:before{
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}

	> .modal-dialog{
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}*/


	.modal-header,
	.title-wrap{
		> h4{
			font-size: 24px;
			// padding: 8px;

			> .btn{
				vertical-align: text-bottom;
				padding: 0 10px;
				margin-left: 12px;
				min-width: 0;
				line-height: 24px;
			}
		}
	}

	.icon-wrap{
		margin-top: 16px;

		> .icon{
			display: block;
			margin: 0 auto;
			width: 110px;
			text-align: center;
			font-size: 110px;
			line-height: 110px;
			height: 110px;
		}
	}

	.title-wrap{
		margin-top: 16px;

		> h4{
			text-align: center;
		}
	}

	.content-wrap{
		padding: 20px 0;

		&.has-icon-title{
			padding: 10px 0 30px 0;
			text-align: center;;
		}
	}

	.modal-footer{
		&.has-icon-title{
			border-top: none;
			text-align: center;;
			padding: 0 20px 35px 20px;

			.btn-block + .btn-block,
			.btn + .btn{
				margin-left: auto;
			}
		}
	}

	&.notitle{
		.modal-content{
			padding-top:15px;
		}
	}

	button.close{
		color: @pb-modal-close-btn-color;
		z-index: 999;
		top: 20px;
		margin-top: -10px;
		position: absolute;
		right: 15px;
		opacity: 1;
		font-size: 30px;
		filter: alpha(opacity=20);

		&:hover,
		&:focus{
			color:@pb-modal-close-btn-hover-color;
		}
	}
}


.modal.fade{

	
	.modal-dialog{
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
		-moz-transition: -moz-transform 0.1s ease-out;
		-o-transition: -o-transform 0.1s ease-out;
		transition: transform 0.1s ease-out;
	}

	&.in{
		.modal-dialog{
			-webkit-transform: scale(1.0);
			-ms-transform: scale(1.0);
			-o-transform: scale(1.0);
			transform: scale(1.0);
		}
	}
}

.pb-mg-popup{
	position: relative;
	min-height: 300px;
	max-width: 500px;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;

	.wrap{
		padding: 15px 25px;
		margin: 0;
	}

	.title-wrap > h4 + .wrap{
		padding-top: 10px;
	}

	.title-wrap > h4{
		width: 100%;
		display: block;
		border-bottom: 1px solid #efefef;
		font-weight: 700;
		padding: 12px 20px;
		margin: 0;
		font-size: 25px;
		font-weight: 700;
		margin-bottom: 20px;
		line-height: 1em;


		> a{
			font-size: 13px;
			margin-left: 12px;
		}
	}

	.button-area{
		position: absolute;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		padding: 15px 20px;
		border-top: 1px solid #efefef;
		box-sizing: border-box;

		> a,> button{
			float: right;
		}

		> * + *{
			margin-right: 5px;
		}
	}
}

.pb-mg-popup.with-button{

	.title-wrap > h4 + .wrap{
		padding-bottom:80px;	
	}
	
	h4{
		margin-bottom: 5px;
		font-size: 27px;
		font-weight: 700;
	}

	.content-wrap{
		margin-bottom: 60px;
	}
}

.mfp-close-btn-in {

	.mfp-close{
		color: #333;
		font-size: 42px;
		line-height: 58px;
		width: 59px;
	}

	.mfp-close:hover{
		background-color: #fff;
	}
		
}

.mfp-zoom-in{
  
	/* start state */
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.15s ease-in-out;
		-webkit-transition: all 0.15s ease-out;
 		 -moz-transition: all 0.15s ease-out;
		transform: scale(0.8); 
	}

	&.mfp-bg{
		opacity: 0;
		transition: all 0.3s ease-out;
	}

	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: scale(1); 
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}

	/* animate out */
	&.mfp-removing {

		.mfp-with-anim {
			transform: scale(0.8); 
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}

	}
  
}

.blockUI.blockMsg.blockPage,
.blockUI.blockMsg.blockElement{
	border: none !important;
	background-color: transparent !important;

	.pb-indicator-frame{
		position: relative;
		
		> .uil-ring-css{
			position: absolute;
			left: 50%;
			top: 50;
			margin: 0 auto;
			transform: translateY(-50%) translateX(-50%) scale(0.6);
			-webkit-transform: translateY(-50%) translateX(-50%) scale(0.6);
		}
	}
}

body.wp-admin{

	.mfp-bg{
		z-index: 996;
	}

	.mfp-wrap{
		z-index: 997;
	}

	.mfp-content{
		z-index: 998;
	}
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 3px 0 0 #fff;
  -webkit-transform-origin: 80px 81.5px;
  transform-origin: 80px 81.5px;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}