.poster-image{
    display: block;
    position: relative;
    padding-top: 142.8571429%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.dark{
        background-image: url(../img/poster-placeholder-black.jpg);
    }

    &.light{
        background-image: url(../img/poster-placeholder-white.jpg);
    }

    > .wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    > .image{
        position: absolute;
        width: 100%;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
           
    }
}

.movie-rate-badge{
    height: 18px;

    &.movie-rate-badge-all,
    &.movie-rate-badge-00007{
        border: 1px solid @brand-primary-green;
        border-radius: 7px;
        // width: 30px;
        display: inline-block;
        text-align: center;
        padding: 0 4px;

        &:after{
            display: inline-block;
            content: "전체";
            color: @brand-primary-green;
            font-size: 12px;
            text-align: center;
            line-height: 17px;
            vertical-align: top;
            // width: 17px;
            // padding-right: 2px;
        }
    }

    &.movie-rate-badge-12,
    &.movie-rate-badge-00001{
        border: 1px solid @brand-primary-blue;
        border-radius: 50%;
        width: 18px;
        display: inline-block;

        &:after{
            display: inline-block;
            content: "12";
            color: @brand-primary-blue;
            font-size: 12px;
            text-align: center;
            line-height: 17px;
            vertical-align: top;
            width: 17px;
            padding-right: 2px;
        }
    }

    &.movie-rate-badge-15,
    &.movie-rate-badge-00003{
        border: 1px solid @brand-primary-yellow;
        border-radius: 50%;
        width: 18px;
        display: inline-block;

        &:after{
            display: inline-block;
            content: "15";
            color: @brand-primary-yellow;
            font-size: 12px;
            text-align: center;
            line-height: 17px;
            vertical-align: top;
            width: 17px;
            padding-right: 2px;
        }
    }

    &.movie-rate-badge-19,
    &.movie-rate-badge-00005{
         border: 1px solid #af2121;
        border-radius: 7px;
        // width: 30px;
        display: inline-block;
        text-align: center;
        padding: 0 4px;

        &:after{
            display: inline-block;
            content: "청불";
            color: #af2121;
            font-size: 12px;
            text-align: center;
            line-height: 17px;
            vertical-align: top;
            // width: 17px;
            // padding-right: 2px;
        }
    }


    &.large{
        height: 30px;
    
        &.movie-rate-badge-all,
        &.movie-rate-badge-00007,
        &.movie-rate-badge-19,
        &.movie-rate-badge-00005{
            &:after{
                line-height: 26px;
                padding-right: 0;
                font-size: 19px;
            }
        }
        

        &.movie-rate-badge-12,
        &.movie-rate-badge-00001,
        &.movie-rate-badge-15,
        &.movie-rate-badge-00003{
            width: 30px;
            border-width: 2px;
            // font-size: 19px;

            &:after{
                width: 26px;
                line-height: 26px;
                padding-right: 0;
                font-size: 19px;
            }
        }

        

    }
}


.pb-movie-item{

    display: block;

    .movie-info{
        margin-top: 10px;
        width: 100%;
        position: relative;
        // padding-left: 20%;

        .movie-rate-badge,
        .movie-name{
            vertical-align: middle;
            display: inline-block;
        }

        .movie-rate-badge{
            margin-right: 5px;
        }

        .movie-name{
            font-size: 18px;
            font-weight: 700;
            text-align: left;
            color: #f4f4f4;
            .textoverflow(100%);
            display: inline-block;
        }
    }

    .sub-info{
        border-top: solid 1px @gray-light;
        border-bottom: solid 1px #eeeeee;
        padding-top: 4px;
        padding-bottom: 5px;
        font-size: 14px;
        color: #969696;

        > .left{
            float: left;
        }

        > .right{
            float: right;
        }

        &:after{
            display: table;
            content: "";
            clear: both;
        }
    }


    &.dark{

        .poster-image,
        .poster-image-col > .poster-image{
            .poster-image.dark;
        }

        .movie-info{
            .movie-name{
                color: #f4f4f4;
            }

        }
    }

    &.light{
        .poster-image,
        .poster-image-col > .poster-image{
            .poster-image.light;
        }

        .movie-info{
            .movie-name{
                color: #333333;
            }

        }
    }

    &.list-in-xs{

        @media screen and (max-width: @screen-xs-max){

            display: table;
            table-layout: fixed;
            float: unset !important;
            width: 100% !important;
            padding: 0px 10px;

            &.line-in-xs-shadow{

                // border-radius: 8px;
                // box-shadow: 0 3px 10px 0 #efefef;

            }

            > .col {
                vertical-align: middle;
                padding: 10px 10px 10px 10px;
                display: table-cell;
                box-sizing: border-box;
                vertical-align: middle;
                position: relative;

                &.poster-image,
                &.poster-image-col{

                    padding: 10px 0 10px 10px;
                    width: 84px;
                }

                &.poster-image-col{
                    > .poster-image{
                        width: 100%;
                    }
                }

                &.poster-info{
                    padding: 10px 0 10px 15px;

                    > .movie-info{
                        margin-top: 0;
                    }
                    > .sub-info{
                        border-bottom: none;
                        padding-top: 0;
                    }
                    
                }

            }
        }
    }
}


.pb-movie-list{
    
    position: relative;

    padding-top: 18px;
    padding-bottom: 20px;


    overflow-x: hidden;
    > .view-changer-menu{
        
        list-style: none;
        padding-left: 0;

        display: block;
        padding: 0;
        margin-bottom: 30px;
        text-align: right;

        > li{


            > a{
                color: #969696;
                display: inline-block;
                text-decoration: none;
                
                width: 32px;
                height: 32px;
                text-align: center;

                &:hover, &:active, &:visited, &:focus{
                    color: @brand-primary-dark;
                    text-decoration: none;
                }
                
                > .icon{
                    line-height: 32px;
                    font-size: 22px;
                }

            }
        
            display: inline-block;
            margin-right: 30px;


            @media screen and (max-width: @screen-xs-max){
                margin-right: 15px;                 
            }

            &.actived{

                > a{
                    color: @brand-primary;
                }
            }
        }
    } 

    .pb-movie-item{
        margin-right: 10px;
        float: left;
        width: 23%;
        box-sizing: border-box;
        
        @media screen and (max-width: @screen-xs-max){
            &.list-in-xs + .list-in-xs{
                border-top: 1px solid @gray-lighter;

            }
        }
    }
}

/*
.pb-movie-item{
    > .movie-info{
        margin-top: 10px;
        .textoverflow(100%);

        .movie-rate-badge,
        .movie-name{
            vertical-align: middle;
            display: inline-block;
        }

        .movie-rate-badge{
            margin-right: 5px;
        }

        .movie-name{
            font-size: 18px;
            font-weight: 700;
            text-align: left;
            color: #f4f4f4;
        }
    }

}
*/

.movie-screen-timetable{
    position: relative;
    display: block;

    border-top: 2px solid @gray-light;
    border-bottom: 2px solid @gray-light;

    /* 20190418 nhn - 영역설정 변경 */
    .movie-box-fix{
        position: relative;
        padding: 0 40px;
        border-bottom: 1px solid @gray-lighter;
    }

    .days-row{
        //position: relative;
        //display: block;
        overflow: hidden;

        .movie-days-slider{

            //border-bottom: 1px solid @gray-lighter;
            //padding:0 50px;

            .slider-button-prev,
            .slider-button-next{
                position: absolute;
                color: @gray;
                opacity: 0.6;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                top: 50%;
            }

            .slider-button-prev{
                left: 15px;
            }
            .slider-button-next{
                right: 15px;
            }

            .swiper-slide,
            .month-item,
            .day-item{
                width: 60px;
                box-sizing: border-box;
                height: 70px;
            }
            .month-item,
            .day-item{
                .pb-flexbox();
            }
                
            .month-item{
                > .wrap{
                    text-align: center;

                    .month{
                        font-size: 20px;
                        font-weight: bold;
                        color: @gray-light;
                    }
                }
            }
            .day-item{
                // display: block;
                position: relative;
                cursor: pointer;
                text-decoration: none;
                box-sizing: border-box;

                -webkit-transition: border-bottom 0.5s, background-color 0.5s;
                transition: border-bottom 0.5s, background-color 0.5s;

                border-bottom: 3px solid transparent;
                padding-top: 3px;

                &:hover{
                    background-color: @gray-lighter;
                }

                .wrap{
                    text-align: center;
                    .day-name{
                        font-size: 14px;
                        line-height: 14px;
                        color: @gray-light;
                    }

                    .day{
                        height: 36px;
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 36px;
                        color: @gray-dark;
                    }
                }

                &.active{
                    border-bottom: 3px solid @brand-primary;
                    background-color: @gray-lighter;

                    .wrap{
                        
                        .day-name,
                        .day{
                            // color: white;
                        }
                        .day{
                            color: @gray-dark;
                        }
                    }
                        
                }
                
            }
        }


    }

    .cinema-area-row{
        .cinema-area-list{
            border-bottom: 1px solid @gray-light;
            display: table;
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;

            @media screen and (max-width: @screen-xxs-max){
                display: block;
            }

            &:after{
                display: table;
                table-layout: fixed;
                content: "";
                clear: both;
                width: 100%;
            }
           
            .area-item{
                display: table-cell;
                border-collapse: collapse;
                vertical-align: middle;
                height: 50px;
                text-align: center;
                // width: 100px;
                line-height: 50px;
                color: @gray-light;

                -webkit-transition: background-color 0.5s;
                transition: background-color 0.5s;

                &:hover,&:active,&:focus,&:visited{
                    background-color: @gray-lighter;
                    color: @gray;
                    text-decoration: none;
                }

                &.active{
                    background-color: @brand-primary;
                    color: white;
                    font-weight: bold;
                }

                @media screen and (max-width: @screen-xxs-max){
                    display: inline-block;
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    // border-top: 1px solid @gray-lighter;
                    // border-bottom: 1px solid @gray-lighter;
                    float: left;

                    &:first-child{
                        // border-left: 1px solid @gray-lighter;
                    }

                    &:last-child{
                        // border-right: 1px solid @gray-lighter;   
                    }

                    & + .area-item{
                        border-top: none;
                        // border-left: 1px solid @gray-lighter;
                    }
                }
            }
        }
    }

    .timetable-list-row{
        
        .timetable-list{
            display: block;
            position: relative;
            // max-height: 400px;
            // overflow-y: auto;
            // -webkit-overflow-scrolling : touch;

            .loading-wrap{
                padding-top: 50px;
                padding-bottom: 50px;

                > .pb-loading-indicator{
                    margin: 0 auto;
                    width: 100px;
                    height: 100px;
                }
            }

            .message{
                padding-top: 50px;
                padding-bottom: 50px;
                text-align: center;
                color: @gray-light;
                font-size: 12px;
            }
        }

        .timetable-item{
            display: table;
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;

            & + .timetable-item{
                border-top: 1px solid @gray-lighter;
            }

            @media screen and (max-width: @screen-xs-max){
                display: block;
            }


            > .col{
                display: table-cell;
                vertical-align: top;

                @media screen and (max-width: @screen-xs-max){
                    display: block;
                }

                & + .col{
                    border-left: 1px solid @gray-lighter;
                    @media screen and (max-width: @screen-xs-max){
                        border-left: none;
                    }
                }

               

                &.col-cinema-info{
                    > .cinema-info-table{
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                        border-collapse: collapse;

                        @media screen and (max-width: @screen-xs-max){
                            padding:10px 15px 5px 15px;
                            display: block;
                        }

                        > .col{
                            display: table-cell;
                            vertical-align: top;
                            padding: 10px 15px 15px 15px;
                            
                            
                            @media screen and (max-width: @screen-xs-max){
                                padding: 0;    
                                display: inline-block;
                            }

                            &.cinema-image{
                                text-align: center;
                                > img{
                                    width: auto;
                                    height: auto;
                                    display: inline-block;
                                    max-height: 50px;
                                    max-width: 100%;
                                }
                                @media screen and (max-width: @screen-xs-max){
                                    display: none;
                                }
                            }

                            &.cinema-name{
                                color: @gray-dark;
                                font-weight: bold;
                                width: 150px;
                                @media screen and (max-width: @screen-xs-max){
                                    width: auto;
                                    margin-right: 10px;
                                }
                            }
                            &.hall-name{
                                // background-color: lighten(@gray-lighter,5%);
                                width: 90px;
                                text-align: center;

                                @media screen and (max-width: @screen-xs-max){
                                    width: auto;
                                }
                            }
                        }

                    }
                }

                &.col-timetable{
                    padding: 10px 15px;
                    .pb-timetable-item{
                        margin-right: 7px;
                        margin-bottom: 7px;
                    }
                }
            }
        }

        

        &.for-branch .timetable-item{
            .timetable-list{
                max-height: none;
            }   
        }

        &.for-branch .timetable-item{
    
            
            > .col{
                &.col-movie-info{
                    width: 100px;
                    padding: 10px 15px 15px 15px;

                    @media screen and (max-width: @screen-xs-max){
                        width: 70px;
                        padding: 5px 10px 10px 10px
                    }
                }

                &.col-timetable{
                    .movie-name{
                        font-weight: bold;
                        margin-bottom: 10px;
                        padding-bottom: 5px;
                        border-bottom: 1px solid @gray-lighter;

                        .movie-rate-badge{
                            vertical-align: middle;
                        }    
                    }

                    .hall-name{
                        margin-bottom: 5px;
                        font-weight: bold;
                        color: @gray-light;
                    }

                    .timetable-list{
                        margin-bottom: 10px;
                    }
                }

            }

             @media screen and (max-width: @screen-xs-max){
                display: table;

                > .col{
                    display: table-cell;
                    & + .col{
                        border-left: 1px solid @gray-lighter;
                    }
                }
            }
        }
    }



}

.pb-timetable-item{
    display: inline-block;
    border-radius: 10px;
    background-color: @gray-lighter;
    // height: 25px;
    line-height: 25px;
    padding: 0 10px;
    text-decoration: none !important;
    -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
    color: black;
    font-weight: bold;
    box-sizing: border-box;
    padding-bottom: 7px;
    vertical-align: middle;
    min-height: 42px;

    > small{
        font-size: 10px;
        vertical-align: middle;
        font-weight: normal;
        display: inline-block;
        line-height: 10px;
        display: block;
    }

    &:hover,&:focus,&:active,&:visited{
        background-color: @brand-primary;
        color: white;
    }

    &.expired{
        line-height: 40px;
        user-select: none;

        &,&:hover,&:focus,&:active,&:visited{
            background-color: #e6e6e6;
            color: #5f5f5f;
            opacity: 0.3;
            font-weight: normal;
        }
        
    }

}

.pb-xticketing-modal{
    .privacy-info-table{

        

        > thead,
        > tbody,
        > tfoot{
            > tr > th,
            > tr > td{
                padding: 5px;
                font-style: 10px;
            }
            > tr > th{
                font-weight: bold;
                background-color: @gray-lighter;
            }
        }
    }
}