@navbar-transparent-link-color: white;
@navbar-transparent-link-hover-color : @brand-primary;

.navbar-transparent {
  background-color: transparent;
  border-color: transparent;

  .navbar-text {
    color: @navbar-inverse-color;
  }

  .nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
  }

  .navbar-toggle{

    &:focus,&:hover{
      background-color: transparent;  
    }
    
  }

  .navbar-nav {
    > li > a {
      color: @navbar-transparent-link-color;

      &:hover,
      &:focus {
        color: @navbar-transparent-link-color;
        // border-bottom: 3px solid @navbar-transparent-link-hover-color;
      }
    }
    > .current_page_item > a,
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-transparent-link-hover-color;
        // border-bottom: 3px solid @navbar-transparent-link-hover-color;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
        // background-color: @navbar-inverse-link-disabled-bg;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: @navbar-inverse-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-inverse-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-inverse-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    // border-color: darken(@navbar-inverse-bg, 7%);
    border-top: none;
  }

  .navbar-toggle{
    border: none;
  }



  @media (max-width: @screen-xs-max){
    .navbar-collapse{
      // margin-top: 20px;
      background-color: white;

      .navbar-nav>li{

        


        > a{
          &,
          &:focus,
          &:hover{
            color: @gray-darker;
          }
        }

        &.current_page_item > a,
        &.active > a{
          color: @brand-primary;
        }
          

      }
      
        


    }
  }

    

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        color: @navbar-transparent-link-hover-color;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: @navbar-inverse-border;
        }
        .divider {
          background-color: @navbar-inverse-border;
        }
        > li > a {
          color: @gray-light;
          &:hover,
          &:focus {
            color: @brand-primary;
            background-color: transparent;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: white;
            background-color: @brand-primary;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-disabled-color;
            background-color: @navbar-inverse-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: @navbar-inverse-link-color;
    &:hover {
      color: @navbar-inverse-link-hover-color;
    }
  }

  .btn-link {
    color: @navbar-inverse-link-color;
    &:hover,
    &:focus {
      color: @navbar-inverse-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
      }
    }
  }
}