.pb-popup-overlay{
    position: fixed;
    border: 1px solid @gray-lighter;
    background-color: white;
    top: 0;
    left: 0;
    min-width: 150px;
    max-width: 100%;
    min-height: 150px;
    z-index: 1002;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;

    @media screen and (max-width: @screen-xs-max){
        max-width: 95% !important;
        width: 100% !important;
        left: 2.5% !important;
        top: 10px !important;
    }

    > .close-btn{
        position: absolute;
        right: 15px;
        top: 5px;
        color: black;
        text-shadow: -2px 0 white, 2px 0 white, 0 -2px white, 0 2px white;
        font-size: 20px;
        opacity: 0.6;
        z-index: 2;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    .content{
        > p:last-child{
            margin-bottom: 0;
        }
        padding-bottom: 25px;
    }

    .bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25px;
        font-size: 13px;

        .cookie-close-link{
            margin-top: 3px;
            display: inline-block;
        }
    }
}