.profile-image{
    background-image: url(../img/profile-image.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;

    > img{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
}