body.wp-admin{
	.form-table{

		th.colspan{
			padding-bottom: 0;
		}

		td.colspan{
			padding-left: 0;
		}

	}
}

.pb-table-border{
    border-top: 1px solid @gray-light;
    border-bottom: 1px solid lighten(@gray-light, 10%);
}

//20190412 nhn - 경영공시영 테이블 css 추가
.sc_tbl_disclosure {
	width:100%;
	border-top:1px solid #e8e8e8;
	border-spacing:0;
	caption {
		overflow:visible; 
		width:100%; 
		border-top:2px solid #b5a991; 
		font-weight:bold; 
		background-color:#d7cdba; 
		visibility:visible; 
		letter-spacing:3px;
		text-align:center;
	}
	th {
		padding:7px 10px; 
		border-right:1px solid #e1e1e1; 
		border-bottom:1px solid #e1e1e1; 
		background-color:#f7f4ee; 
		color: #777; 
		text-align:left;
	}
	td {
		padding:7px 10px; 
		border-right:1px solid #e1e1e1;
		border-bottom:1px solid #e1e1e1;
		background-color:#fff;
	}
}