@import (reference) "../../pb-main.less";

.page-login-frame{
	padding: 80px 0 100px 0;

	@media screen and (max-width: @screen-xs-max){
		padding: 40px 0 80px 0;
	}

	.login-form-frame{
		display: table;
		table-layout: fixed;
		width: 100%;
		max-width: 650px;
		margin: 0 auto 30px auto;

		> .image-col,
		> .content-col{
			display: table-cell;
			vertical-align: middle;
		}
	
		> .image-col{
			box-sizing: border-box;

			> .welcome-logo{
				width: 100%;
				height: auto;
				max-width: 130px;
				// margin: 0 auto;
				display: block;
			}
		}
		> .content-col{
			width: 450px;

			.login-input-wrap{
				display: table;
				table-layout: fixed;
				width: 100%;

				> .input-col,
				> .button-col{
					display: table-cell;
					box-sizing: border-box;
					vertical-align: top;

					.form-group{
						width: 100%;
						margin: 5px 0;
					}
				}


				> .input-col{
					padding-right: 10px;

					.input-footer{
	

						a + a{
							margin-left: 12px;
						}

						.checkbox-inline{
							padding-top: 0;
						}
					}
				}

				> .button-col{
					width: 100px;

					.btn{
						height: 97px;
					}
				}
			}
			
		}
	
		@media screen and (max-width: @screen-xs-max){
			display: block;
			width: 100%;
			max-width: 100%;

			> .image-col,
			> .content-col{
				display: block;
				padding: 0;
			}

			> .image-col{
				display: none;
				// padding-right: 0;
				// margin: 0 auto 30px auto;
				// width: 100px;
			}

			> .content-col{
				width: 100%;

				.title-wrap{
					text-align: center;
				}

				.login-input-wrap{
					display: block;
					width: 100%;

					> .input-col,
					> .button-col{
						display: block;
						
						.form-group{
							width: 100%;
							margin: 5px 0;
						}
					}


					> .input-col{
						padding-right: 0;

						.input-footer{

							.pull-left{
								display: none;
							}
	
							a + a{
								margin-left: 12px;
							}

							.checkbox-inline{
								padding-top: 0;
							}
						}
					}

					> .button-col{
						width: 100%;


						.btn{
							height: auto;
						}
					}
				}
			}
		}
	}
}


#pb-user-findpass-modal{
	.modal-dialog{
		max-width: 450px;
		@media screen and (max-width: @screen-xs-max){
			width: auto;	
		}
	}
}