@import (reference) "../../pb-main.less";

.page-resetpass-frame{
	
	padding: 80px 0 100px 0;

	@media screen and (max-width: @screen-xs-max){
		padding: 40px 0 80px 0;
	}

	.welcome-frame{
		display: table;
		table-layout: fixed;
		width: 100%;
		max-width: 350px;
		margin: 0 auto 30px auto;

		> .image-col,
		> .content-col{
			display: table-cell;
			vertical-align: middle;
		}
	
		> .image-col{
			width: 120px;
			box-sizing: border-box;
			padding-right: 30px;

			> .welcome-logo{
				width: 100%;
				height: auto;
			}
		}
		> .content-col{
			width: 100%;

			> .title{
				margin: 10px 0 5px 0;
			}

			> .help-text{
				margin: 0;
			}
		}
	
		@media screen and (max-width: @screen-xs-max){
			display: block;
			width: 100%;
			max-width: 100%;

			> .image-col,
			> .content-col{
				display: block;
				padding: 0;
			}

			> .image-col{
				display: none;
			}

			> .content-col{
				text-align: center;
				
				> .title{
					font-size: 25px;
				}
			}
		}
	}

}