@import (reference) "../../pb-main.less";

.page-signup-frame{
	
	padding: 60px 0 80px 0;

	@media screen and (max-width: @screen-xs-max){
		padding: 30px 0 40px 0;
	}

	h4{
		margin-top: 30px;
	}
	
	.welcome-frame{
		display: table;
		table-layout: fixed;
		width: 100%;
		max-width: 680px;
		margin: 0 auto 30px auto;

		> .image-col,
		> .content-col{
			display: table-cell;
			vertical-align: middle;
		}
	
		> .image-col{
			width: 120px;
			box-sizing: border-box;
			padding-right: 30px;

			> .welcome-logo{
				width: 100%;
				height: auto;
			}
		}
		> .content-col{
			width: 100%;

			> .title{
				margin: 10px 0 5px 0;
			}

			> .help-text{
				margin: 0;
			}
		}
	
		@media screen and (max-width: @screen-xs-max){
			display: block;
			width: 100%;
			max-width: 100%;

			> .image-col,
			> .content-col{
				display: block;
				padding: 0;
			}

			> .image-col{
				display: none;
			}

			> .content-col{
				text-align: center;
				
				> .title{
					font-size: 25px;
				}
			}
		}
	}

	.agreement-frame{

		.agreement-box{
			margin-bottom: 5px;
		}

		
		.privacy-info-table{
			margin-bottom: 5px;

			th{
				background-color: @gray-lighter;

				@media screen and (max-width: @screen-xs-max){
					width: 80px;
				}
			}
			th,td{
				text-align: center;
				font-size: 12px;
			}

			@media screen and (min-width: @screen-sm-min){
				th,td{
					display: block;

				}

				tbody{
					display: table;
					table-layout: fixed;
					width: 100%;
				}

				tr{
					display: table-cell;
					width: 33.33333333%;
					vertical-align: top;
					
					& + tr{
						border-left: 1px solid #ddd; 
					}
					
					&.target-purpose,
					&.retention-period{
						width: 30%;
					}
					&.target-entry{
						width: 40%;
					}
				}

				th,td{
					border: none; 
				}
				th{
					border-bottom: 1px solid #ddd; 
				}

				tbody{
					&:after{
						display: table;
						content: "";
						clear: both;
					}
				}
			}
		}

	}

	.input-form-wrap{

		.control-label,
		.form-control,
		.form-control-static{
			// .input-sm;
		}

		.form-control-static{
			// min-height: 30px;
		}
	}
}



.page-signup-completed-frame{
	padding: 120px 0 140px 0;

	@media screen and (max-width: @screen-xs-max){
		padding: 80px 0 100px 0;
	}

	.completed-frame{
		display: table;
		table-layout: fixed;
		width: 100%;
		max-width: 560px;
		margin: 0 auto 30px auto;

		> .image-col,
		> .content-col{
			display: table-cell;
			vertical-align: middle;
		}
	
		> .image-col{
			width: 120px;
			box-sizing: border-box;
			padding-right: 30px;

			> .welcome-logo{
				width: 100%;
				height: auto;
			}
		}
		> .content-col{
			width: 100%;

			> .title{
				margin: 10px 0 5px 0;
			}

			> .help-text{
				margin: 0;
			}
		}
	
		@media screen and (max-width: @screen-xs-max){
			display: block;
			width: 100%;
			max-width: 100%;

			> .image-col,
			> .content-col{
				display: block;
				padding: 0;
			}

			> .image-col{
				display: block;
				padding-right: 0;
				margin: 0 auto 30px auto;
				width: 100px;
			}

			> .content-col{
				text-align: center;
				
				> .title{
					font-size: 25px;
				}
			}
		}
	}
}