@import (reference) "../../../../pb-main.less";


.pb-adminpage-push-msg-manage-table{
	
	thead th,td,
	tbody th,td{

		&.msg_title{
			width: 30%;

			@media screen and (max-width: @screen-xs-max){
				width: 40%
			}

		}

		&.msg_title{
			

		}
	}

}