@import (reference) "../../../pb-main.less";


.adminpage-popup-manage-edit-frame{
	.popup-html-wrap{
		display: block;
		position: relative;
		box-sizing: border-box;
		background-color: #fbfbfb;
		border: 1px solid @gray-lighter;

		> .wrap{
			display: block;
			position: relative;
			box-sizing: border-box;
			border: 5px dashed @gray-lighter;
		}
	}
}

	