@import (reference) "../../../pb-main.less";

.pb-adminpage-popup-manage-table{

	th,td{
		&.popup_title{
			width: 40%;	
		}

		&.srt_date{
			text-align: center;

			@media screen and (max-width: @screen-xs-max){
				display: none;
			}
		}

		&.sort_num{
			text-align: center;	
			width: 10%;

			@media screen and (max-width: @screen-xs-max){
				display: none;
			}

		}
	}

	td.srt_date{
		font-size: 11px;
	}
}