@import (reference) "../../../pb-main.less";

.pb-adminpage-templated-list-table{

	td.status_name{
		> .status-name{
			
			&:before{
				display: inline-block;
				content: "";
				margin-right: 5px;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				vertical-align: middle;
			}

			&.status-00001{
				&:before{
					background-color: @brand-success;
				}
				color: @brand-success;
			}

			&.status-ended{
				&:before{
					background-color: @brand-danger;
				}
				color: @brand-danger;
			}
			&.status-scheduled{
				&:before{
					background-color: @brand-info;
				}
				color: @brand-info;
			}
			

			&.status-00009{
				&:before{
					background-color: @brand-warning;
				}
				color: @brand-warning;
			}
		}
	}

	td.xticket_reg_yn{
		font-size: 15px;


		> .xticket-reg-Y{
			color: @brand-success;
		}

		> .xticket-reg-N{
			color: @brand-danger;
		}
	}
		
}


