@import (reference) "./pb/bootstrap/bootstrap.less";
@import "./pb/fontawesome/font-awesome.less";

@import "./pb/jquery/magnific.less";
@import "./pb/jquery/swiper/swiper.less";

@import "./pb/pb/variables.less";
@import "./pb/pb/modals.less";
@import "./pb/pb/tables.less";
@import "./pb/pb/colors.less";
@import "./pb/pb/utiles.less";
@import "./pb/pb/animates.less";
@import "./pb/pb/modals.less";


.pb-img-frame{
	width: 75px;
	height: 75px;
	display: inline-block;
	border: 1px solid #dddddd;
	background-size: 100% 100%;
}
.pb-img-frame.thumb{
	width: 45px;
	height: 45px;	
}
.pb-img-frame.noimg{
	background-image: url(../img/noimg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.pb-list-selector{
	margin-top: 10px;

	> .item-list{
		display: inline-block;

		> .item,
		> .select-btn{
			margin-bottom: 7px;
			display: inline-block;
		}

		> .item{
			position: relative;
			margin-right: 10px;
			border: 3px solid #dddddd;
			box-sizing: border-box;

			.preview{
				width: 100%;
				height: 100%;
				background-size: cover;
			}

			.delete-btn{
				display: block;
				width: 30px;
				height: 30px;
				background-color: #DA1A1A;
				border-radius: 50%;
				position: absolute;
				top: -10px;
				right: -5px;
				font-size: 27px;
				box-shadow: 0 2px 2px rgba(0,0,0,0.6);
				text-align: center;

				> .icon{
					color: #fff;
					margin: 0;
					cursor: pointer;
					position: relative;
					line-height: 24px;
					font-weight: bold;
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	}

	button.select-btn{
		display: inline-block;
		width: 75px;
		height: 75px;
		border: 3px dashed #A9A9A9;
		background-size: 100% 100%;
		vertical-align: top;
		background-color: #fff;
		cursor: pointer;
		font-size: 45px;
		color: #A9A9A9;
		/* background: #FBFBFB; */
		// padding-top: 6px;

		> .icon{
			    top: -5px;
    			position: relative;
		}
	}
}

.checkbox-list{
	min-height: 200px;
	border: 1px dotted black;
	background-color: white;
	padding: 5px 10px;
	overflow: auto;
	max-height: 200px;
	-webkit-overflow-scrolling: touch;

	> .checkbox-wrap{
		padding: 2px 0;

	}
}

.form-table{
	label.label-margin-right{
		margin-right: 10px;
	}
}

input{
	&.error{
		box-shadow: 0 0 2px @brand-danger;
    	border: 1px solid @brand-danger;
	}
}

label.error{
	margin-top: 3px;
    display: block;
    color: @brand-danger;
}