
@import "./pb/bootstrap/bootstrap.less";
@import "./pb/fontawesome/font-awesome.less";

@import "./pb/jquery/swiper/swiper.less";
@import "./pb/aos/aos.less";

@import "./pb/jquery/selectize/selectize.less";
@import "./pb/jquery/selectize/selectize.bootstrap3.less";

@import "./pb/jquery/minicolors.less";

@import "./pb/pb/variables.less";

@import "./pb/pb/fonts.less";
@import "./pb/pb/utiles.less";
@import "./pb/pb/animates.less";
@import "./pb/pb/grid.less";
@import "./pb/pb/tables.less";
@import "./pb/pb/listtable.less";
@import "./pb/pb/forms.less";
@import "./pb/pb/colors.less";
@import "./pb/pb/modals.less";
@import "./pb/pb/buttons.less";
@import "./pb/pb/profile.less";
@import "./pb/pb/fileupload.less";
@import "./pb/pb/fileupload.image.less";
@import "./pb/pb/fileupload.slider.less";
@import "./pb/pb/fileupload.clientslider.less";
@import "./pb/pb/fileupload.file.less";

@import "./pb/pb/popup.less";

@import "./pb/pb/navbar.less";
// @import "./pb/pb/board.less";

@import "./pb/pb/main.less";
@import "./pb/pb/movie.less";

html,body{
	letter-spacing: -0.15pt;
}


.pb-responsive-var{
	display: none;
	

	> .xs{
		min-width: @screen-xs-min;	
		max-width: @screen-xs-max;	
	}
 
	> .sm{
		min-width: @screen-sm-min;	
		max-width: @screen-sm-max;	
	}

	> .md{
		min-width: @screen-md-min;	
		max-width: @screen-md-max;	
	}
	> .lg{
		min-width: @screen-lg-min;	
	}
}

.pb-flexbox{
	display: flex;
	align-items: center;
	-webkit-align-items: center;
	
	justify-content: center;
	-webkit-justify-content: center;
}

body{

	&.with-body-back-gray{
		background-color: #f7f7f7;

		.pb-footer{
			background-color: white;
			color: #a0a0a0;		
			.footer-container-row{
				color: #a0a0a0;
			}
		}
	}

	&.hidden-header-footer{
		margin-top: 0 !important;

		.header-navbar.navbar-toggled, .header-navbar.scroll-fixed, .header-navbar.white-fixed{
			display: none;
		}

		.pb-footer{
			display: none;
		}

		.footer-banner-frame{
			display: none;
		}
	}
	
	&.header-white-fixed{
		margin-top: 51px;
		
		@media screen and (min-width: @screen-sm-min){
			margin-top: 87px;
		}
	}
	
	&.with-sidemenu{
	
		&.page-adminpage .body-container-wrap{
			@media screen and (min-width: @screen-lg-min){
				max-width: 1250px;
			}
		}

		.body-container-wrap{
			
			display: table;
			table-layout: fixed;
			width: 100%;
			margin: 0 auto;
			padding: 0 20px;
			

			@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
				max-width: @container-sm;
			}

			@media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){
				max-width: @container-md;
			}

			@media screen and (min-width: @screen-lg-min){
				max-width: @container-lg;
			}

	
			&.body-container-wrap-full-width{
				max-width: 100%;
			}

			> .sidemenu-wrap,
			> .body-container{
				display: table-cell;
				vertical-align: top;
			}

			> .sidemenu-wrap{
				display: none;
				padding-right: 20px;
				box-sizing: border-box;

				@media screen and (min-width: @screen-md-min){
					display: table-cell;
				}

				@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
					width: 220px;
					// padding-left: 15px;
				}

				@media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){
					width: 230px;
					// padding-left: 15px;
				}

				@media screen and (min-width: @screen-lg-min){
					width: 250px;
				}
			}

			> .body-container{
				.pb-default-frame-padding();
				
				@media screen and (min-width: @screen-sm-min){
					padding-left: 20px;
					// padding-right: 15px;
				}
				@media screen and (max-width: @screen-xs-max){
					// padding-left: 15px;
					// padding-right: 15px;
				}
			}
		}
	}
}

.breadcrumb-wrap{
	background-color: #161616;

	> .breadcrumb{
		background-color: #161616;
		
		margin: 0 auto;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;

		@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
			max-width: @container-sm;
		}

		@media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){
			max-width: @container-md;
		}

		@media screen and (min-width: @screen-lg-min){
			max-width: @container-lg;
		}
	
		li,
		li > a{
			color: #ffffff;
		}

		.dropdown{
			> a{
				color: #ffffff;

				> .icon{
					display: none;

					@media screen and (max-width: @screen-xs-max){
						display: inline-block;
					}
				}
	
				
				&,&:hover,&:active,&:visited{
					text-decoration: none;
				}
			}
		}
		.dropdown-menu{
			a{
				color: @gray-darker;
			}
		}
	}
}

.body-container-wrap{
	position: relative;
	display: block;

	> .sidemenu-wrap{
		.pb-default-frame-padding();
		
		padding: 70px 0 100px 0;
		@media screen and (max-width: @screen-xs-max){
	        padding: 40px 0 60px 0;            
	    }

		.sidemenu-item {
			.sidemenu-title{
				color: #424242;
				font-weight: 300;
				margin: 0;
				font-size: 22px;
				border-bottom: 2px solid #161616;
				padding-left: 10px;
				margin-bottom: 0;
				height: 35px;

				> a{
					color: @gray-light;

					&,&:hover,&:active,&:visited{
						text-decoration: none;
					}
				}

				&.no-margin{
					margin-bottom: 0;
				}
			}
			margin-bottom: 40px;


			

		}
			

		> .sidemenu-list-wrap{

			> .sidemenu-list{
				list-style: none;
				padding-left: 0;

				li{
					padding: 0;
					padding-left: 0;
					position: relative;

					

					> a{
						position: relative;
						padding: 10px 0;
						padding-left: 10px;
						font-size: 14px;
						color: darken(@gray-light,5%);
						display: block;
						box-sizing: border-box;

						&:hover{
							background-color: #fbfbfb;
						}

						&:hover,&:active,&:visited{
							color: darken(@gray-light, 15%);
							text-decoration: none;
						}

						> .icon{
							position: absolute;
							right: 10px;
							top: 50%;
							transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							
							display: none;
						}
					}

					

					&.active{
						> a{
							color: @brand-primary;
							font-weight: 500;
							&:hover,&:active,&:visited{
								color: @brand-primary;
							}

							> .icon{
								display: block;
								color: @brand-primary;
							}
						}

						
					}

					> .child-list{
						list-style: none;
						padding-left: 0;
						// box-shadow: inset 0 2px 9px rgba(100,100,100,0.1);
						// background: lighten(@gray-lighter, 10%);

						> li{
							border-top: 1px solid #f7f7f7;

							&.active{
								> a{
									color: @brand-primary;
									&:hover,&:active,&:visited{
										color: @brand-primary;
									}
								}
							}
						}

						li > a{
							padding: 8px 0;
							padding-left: 40px;
							font-size: 15px;
							color: @gray-light;

							&:hover,&:active,&:visited{
								color: darken(@gray-light, 10%);
								text-decoration: none;
							}

							&:before{
								position: absolute;
								display: block;
								content: "";
								width: 3px;
								height: 3px;
								border-radius: 50%;
								background-color: @brand-primary;

								left: 25px;
								top: 50%;
								transform: translateY(-50%);
								-webkit-transform: translateY(-50%);
								color: #777777;
								opacity: 0.6;
							}

							// &:hover,&:active,&:visited{
							// 	background: fadeout(@brand-primary, 90%);
							// }
						}
						
					}
				}

				> li{
					border-bottom: 1px solid #eeeeee;
				}
			}
		}
	}

}
.body-container{
	&.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
}

.header-navbar{
	// padding: 20px 0;

	-webkit-transition: background 0.5s, border-bottom 0.5s, box-shadow 0.5s;
	transition: background 0.5s, border-bottom 0.5s, box-shadow 0.5s;
    // background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0));
    border-bottom: transparent;


    .headoffice-top-menu-frame{
    	background-color: transparent;
		height: 35px;
		-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;

		@media screen and (max-width: @screen-sm-max) {
			height: 30px;			
		}
		@media screen and (max-width: @screen-xs-max) {
			display: none;
		}
		.top-menu-list{
			float: right;
			display: block;
			list-style: none;
			padding-left: 0;
			margin: 7px 0;
			font-size: 13px;
			
			@media screen and (max-width: @screen-sm-max) {
				margin: 6px 0 5px 0;
				font-size: 12px;
			}

			> .menu-item{
				display: inline-block;
				float: left;

				

				> a{
					padding: 3px 10px;
					color: #6f6f6f;

					&:hover, &:active, &:visited, &:focus{
						text-decoration: none;
					}
				}

				& + .menu-item{
					&:before{
						display: inline-block;
						content: "";
						background-color: #404040;
						-webkit-transition: background-color 0.5s;
						transition: background-color 0.5s;
						
						width: 1px;
						height: 15px;
						vertical-align: middle;
					}
				}
			}
		}

		&:after{
			display: table;
			content: "";
			clear: both;
		}
    }

	.navbar-header{
		padding: 0 0;
		-webkit-transition: background-color 0.5s, padding 0.5s;
		transition: background-color 0.5s, padding 0.5s;

		.navbar-toggle{
			background-color: transparent;	

			&, .icon-bar{
	    		-webkit-transition: background-color 0.5s;
				transition: background-color 0.5s;
			}

			.icon-bar{
				background-color: white;
			}
			
			&:focus,&:hover{
				background-color: transparent;	

				.icon-bar{
					background-color: @brand-primary;
				}
			}
		}
	}


	&.white-fixed,
	&.navbar-toggled,
	&.scroll-fixed{

		border-bottom: 1px solid @gray-lighter;
		background: white;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1);

		.headoffice-top-menu-frame{
			background-color: #eeeeee;

			.top-menu-list{
				> .menu-item{
					& + .menu-item{
						&:before{
							background-color: #cacaca;
						}
					}
				}
			}
		}

		.navbar-header{
			padding: 0;	

			.navbar-toggle{
				background-color: transparent;	

				&, .icon-bar{
		    		-webkit-transition: background-color 0.5s;
					transition: background-color 0.5s;
				}

				.icon-bar{
					background-color: @gray-dark;
				}
				
				&:focus,&:hover{
					background-color: transparent;	

					.icon-bar{
						background-color: @brand-primary;
					}
				}
			}
		}

		#pb-mainnavbar{

		}
		

		.navbar-img-logo{
			    padding: 2px 15px;
				-webkit-transition: padding .5s, height .5s, margin-top .5s;
				transition: padding .5s, height .5s, margin-top .5s;
				height: 40px;
				margin-top: 5px;

			@media (max-width: @screen-sm-max){
				margin-top: 4px;
			}
				
			> .white{
				display: none;
			}
			> .black{
				display: block;
			}
		}



		.navbar-nav {
			.dropdown-menu{
				right: inherit;
				left: 12px;
			}

			@media (min-width: @screen-xs-min) {
			  li.dropdown:hover > ul.dropdown-menu {
			    display: block;
			  }
			}

		    > li > a {
		      color: @gray-darker;

		      &:hover,
		      &:focus {
		        color: @gray-darker;
		        // border-bottom: 3px solid @navbar-transparent-link-hover-color;
		      }
		    }
		    > .current-menu-parent > a,
		    > .current-menu-item > a,
		    > .active > a {
		      &,
		      &:hover,
		      &:focus {
		        color: @brand-primary;
		        // border-bottom: 3px solid @navbar-transparent-link-hover-color;
		      }
		    }
		    > .disabled > a {
		      &,
		      &:hover,
		      &:focus {
		        color: @gray-light;
		        // background-color: @navbar-inverse-link-disabled-bg;
		      }
		    }
		  }

		.navbar-collapse{
			
			margin-top: 0;
			@media (max-width: @screen-sm-max){
				margin-top: 3px;
				margin-bottom: 3px;
			}
		}
	}

	.navbar-collapse{
		border-top: 1px solid;
		border-top-color: rgba(255,255,255,0);
		// border-bottom: 1px solid @gray-lighter;
		margin-top: 10px;
		-webkit-transition: margin-top 0.5s, border-top-color 0.2s;
		transition: margin-top 0.5s, border-top-color 0.2s;

		@media (min-width: @screen-xs-min){
			border-top-color: rgba(255,255,255,0);
			border-bottom: none;
		}
		&.collapse.in{
			border-top-color: @gray-lighter;
			
		}
		font-size: 16px;
		margin-top: 0;
	}
	
	.menu-item.menu-item-has-children{
		ul.sub-menu{
			display: block;
		    position: absolute;
		    background: white;
		    border: 1px solid @gray-lighter;
		    list-style: none;
		    padding: 5px 20px 10px 20px;
		    width: 200px;
		    left: 0;
		    z-index: 1002;


			@media (min-width: @screen-sm-min){
				display: none;
				.pb-animate;
			    .pb-animate.vfast;

			    &.dropdown-active{
			    	display: block;
					.pb-animate.fadeIn;

					&.out{
						.pb-animate.fadeOut;					
					}
			    }
			}
			    

		    > li{
		    	margin-top: 5px;
		    	> a{
					padding: 5px 0;
					color: black;
					display: block;
					box-sizing: border-box;

					&:hover, &:active, &:visited{
						color: lighten(black, 10%);
					}
		    	}
		    }

		    @media (max-width: @screen-xs-max){
				position: relative;
				width: 100%;
				background-color: @gray-lighter;	

				> li{
			    	> a{
						color: @gray;
						padding-left: 10px;

						&:hover, &:active, &:visited{
							color: darken(@gray, 10%);
						}
			    	}
			    }
		    }
		}
	}
		


	.navbar-img-logo{
		float: left;
		padding: 2px 15px;
		height: 45px;
		-webkit-transition: padding .5s, height .5s, margin-top .5s;
				transition: padding .5s, height .5s, margin-top .5s;

		> img{
			height: 100%;
			width: auto;
		}

		> .white{
			display: block;
		}
		> .black{
			display: none;
		}
	}
}

.pb-footer{
	background-color: #eeeeee;
	color: #9e9e9e;

	> .container{
		padding: 40px 0;
	}

	.footer-widget-item{
		margin-bottom: 30px;
		@media (min-width: @screen-xs-min){
			margin-bottom: 0;
		}
	}

	.footer-container-row{
		color: #9e9e9e;
		font-size: 12px;
		line-height: 20px;
		padding: 0 20px;

		@media (max-width: @screen-sm-max){
			font-size: 11px;
		}
		
		@media (min-width: @screen-xs-min){
			// padding: 0;
		}

		a:not(.btn){
			color: #9e9e9e;
			&:hover,
			&:focus{
				color: lighten(#9e9e9e, 10%);
			}
		}

		ul{
			padding-left: 0;
			list-style: none;
		}

		.widget-title{
			margin-top: 0;
			font-size: 18px;
			margin-bottom: 15px;
			color: white;
		}

		.footer-logo,
		.footer-logo-mobile,
		.footer-social-enterprise-logo{
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 200px;

			opacity: 0.5;
			margin-top: 50px;

			@media (max-width: @screen-sm-max){
				margin: 0 auto 30px auto;
			}

			/*@media (min-width: @screen-sm-min){
				max-width: 100%;
			}*/
		}
		.footer-logo{
			@media (max-width: @screen-sm-max){
				display: none;	
			}
			
		}
		.footer-logo-mobile{
			display: none;	
			@media (max-width: @screen-sm-max){
				margin: 0 10px 0 0;
				display: inline-block;	
			}

			@media (max-width: @screen-sm-max) and (min-width: @screen-sm-min){
				max-width: 150px;
			}
			@media (max-width: @screen-xs-max){
				max-width: 100px;
			}
			
		}

		.footer-social-enterprise-logo{
			margin: 50px 0 0 0;
			width: 100%;
			max-width: 200px;

			opacity: 0.5;
			margin-top: 50px;

			@media (max-width: @screen-sm-max){
				margin: 0 0 0 10px;
				display: inline-block;	
			}
			@media (max-width: @screen-sm-max) and (min-width: @screen-sm-min){
				max-width: 150px;
			}
			@media (max-width: @screen-xs-max){
				max-width: 100px;
			}
		}
		.footer-logo-wrap{
			@media (max-width: @screen-sm-max){
				text-align: center;
				margin-top: 20px;
			}
		}
	}

	.footer-menu-wrap{
		margin-bottom: 15px;

		@media (max-width: @screen-sm-max){
			margin-bottom: 0;		
			text-align: center;	
		}

		> .footer-menu{
			display: block;
			width: 100%;

			@media (max-width: @screen-sm-max){
				display: none;
			}
			
			> li{
				display: inline-block;
				font-size: 14px;
				margin-bottom: 15px;
				
				& +li{
					margin-left: 15px;
				}
			}

		}

		> .footer-menu-select{
			display: none;
			margin-bottom: 20px;
			@media (max-width: @screen-sm-max){
				display: block;

			}

			.dropdown-menu {
				left: 50%;
				right: auto;
				transform: translate(-50%, 0);
				-webkit-transform: translate(-50%, 0);
			}
		}
	}

	.company-info-wrap{
		@media (max-width: @screen-sm-max){
			text-align: center;
		}
	}
}

.pb-default-frame-padding(){
	padding: 70px 0 100px 0;

    @media screen and (max-width: @screen-xs-max){
        padding: 40px 0 60px 0;            
    }
}

.page-edit-button-row{
	padding: 30px 0 50px 0;
}


.btn-kakao {
  .button-variant(black; #ffe100; darken(#ffe100,5%));
}

.textoverflow(@width_){
	width: @width_; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}

.wordwrap-keep-all(){
	word-wrap: break-word;
	word-break: keep-all;
}

.footer-banner-frame{
	position: relative;
	width: 100%;
	padding: 50px 0 20px 0;
	
	.footer-banner-slider{
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}
	
	.banner-link-item{
		display: block;

		> .banner-image{
			width: 100%;
			height: auto;
		}
	}
}

body.with-sidemenu .footer-banner-frame{
	padding: 50px 0 0 0;
}