@import (reference) "../../../pb-main.less";

.adminpage-banner-manage-frame{
	.adminpage-subtitle{
		margin-top: -40px;

		@media screen and (max-width: @screen-xs-max){
			margin-top: 0;			
		}
	}
}

.pb-adminpage-banner-mst-manage-table{

	th,td{
		&.banner_title{
			width: 40%;	
		}

		&.banner_image_url{
			width: 30%;	
			img{
				width: 100%;
				height: auto;
			}
		}

		&.banner_cnt{
			text-align: center;
		}	
	}
}