@import (reference) "../../../pb-main.less";

.adminpage-banner-manage-frame{
	.adminpage-subtitle{
		margin-top: -40px;

		@media screen and (max-width: @screen-xs-max){
			margin-top: 0;			
		}
	}


	
	.banner-image-list-frame .pb-image-list-frame > .image-item{
	    width: 100%;
	    padding-top: 12.5%;
	    height: auto;
	}
	.banner-image-list-frame .pb-image-list-frame > .add-btn{
		width: 100%;
	}
	.banner-image-list-frame .pb-image-list-frame > .image-item > .preview{
		top: 0;
		left: 0;
	}


	.list-button-frame{
		text-align: right;
		padding-bottom: 15px;
		margin-top: -30px;
	}
}
