@import (reference) "../../pb-main.less";
@clr-blue: #4285F4;
@clr-gray: #6c6c6c;
@clr-black: #3c3c3c;
@clr-green: #4baf4b;
@grid-border-clr: #cccccc;
@transition: .25s;

#pb-banner-bulk-write-form{
	.banner-item{
		margin-bottom: 15px;
		background-color: @gray-lighter;
		border-radius: 30px;
		padding: 20px;
	}

	.pb-image-list-frame > .image-item{
		    width: 100%;
		    padding-top: 12.5%;
		    height: auto;
	}
	.pb-image-list-frame > .add-btn{
		width: 100%;
	}
	.pb-image-list-frame > .image-item > .preview{
		top: 0;
		left: 0;
	}

	// 20190502 nhn - 체크박스 리스트 형으로 추가
	.box-group {
		position: relative;
		display: inline-block;
		margin: 0 10px;
		input[type="checkbox"] {
			display: none;
		}
		label {
			position: relative;
			cursor: pointer;
			font-weight: 700;
			color: @clr-gray;
		}
		&.solid {
			label {
				padding: 10px 25px;
				border-radius: 2px;
				transition: @transition;
				border: 1px solid rgba(0, 0, 0, .25);
				&:before {
					position: absolute;
					content: "";
					top: 3px;
					left: 3px;
					width: 18px;
					height: 18px;
					font-family: "Material Design Icons";
					color: #ffffff;
					text-align: center;
					line-height: 20px;
					border-radius: 3px;
					transform: scale(0) translateX(-20px);
					opacity: 0;
					transition: @transition;
				}
				&:hover {
					background: rgba(0, 0, 0, .05);
				}
			}
			input[type="checkbox"]:checked + label {
				color: #ffffff;
				background: @clr-green;
				border-color: @clr-green;
				&:before {
					opacity: 1;
    				transform: scale(1) translateX(0);
				}
			}
			input[type="checkbox"] + label::before {
				.fa();
				content: @fa-var-check;
			}
		}
	}
}
