@import (reference) "../../../pb-main.less";


.pb-adminpage-cinema-manage-table{


	td,th{

		&.cinema_name{
			width: 40%;
		}

	}

	td{
		&.cinema_name{
			> .site-url{
				font-size: 12px;
    			color: @gray-light;
			}
		}

		&.addr{
			font-size: 12px;
		}
	}
}