@import (reference) "../../../pb-main.less";

.adminpage-banner-main-manage-edit-frame{
	.popup-html-wrap{
		display: block;
		position: relative;
		box-sizing: border-box;
		background-color: #fbfbfb;
		border: 1px solid @gray-lighter;

		> .wrap{
			display: block;
			position: relative;
			box-sizing: border-box;
			border: 5px dashed @gray-lighter;
			width: 100%;
			height: 300px;
		}
    }
    .banner-item{
		margin-bottom: 15px;
		background-color: @gray-lighter;
		border-radius: 30px;
		padding: 20px;
	}

	.pb-image-list-frame > .image-item{
		    width: 100%;
		    padding-top: 12.5%;
		    height: auto;
	}
	.pb-image-list-frame > .add-btn{
		width: 100%;
	}
	.pb-image-list-frame > .image-item > .preview{
		top: 0;
		left: 0;
	}
}
 
	