@import (reference) "../../../pb-main.less";
@clr-gray: #6c6c6c;
@clr-black: #3c3c3c;
@clr-green: #4baf4b;
@transition: .25s;

.adminpage-banner-manage-frame{
	.adminpage-subtitle{
		margin-top: -40px;
		@media screen and (max-width: @screen-xs-max){
			margin-top: 0;			
		}
	}
	#pb-adminpage-banner-manage-table-form{
		th,td{
			&.banner_image{
				width: 70%;
				> .banner-image{
					width: 100%;
					height: auto;
				}
			}
		}
	}
}

#pb-banner-remove-popup-form{
    .modal-dialog{
        width:900px;
    }
    .banner_image
    {
        width: 100%;
        height: auto;
    }

    .box-group {
		position: relative;
		display: inline-block;
		margin: 0 10px;
		input[type="checkbox"] {
			display: none;
		}
		label {
			position: relative;
			cursor: pointer;
			font-weight: 700;
			color: @clr-gray;
		}
		&.solid {
			label {
				padding: 10px 25px;
				border-radius: 2px;
				transition: @transition;
				border: 1px solid rgba(0, 0, 0, .25);
				&:before {
					position: absolute;
					content: "";
					top: 3px;
					left: 3px;
					width: 18px;
					height: 18px;
					font-family: "Material Design Icons";
					color: #ffffff;
					text-align: center;
					line-height: 20px;
					border-radius: 3px;
					transform: scale(0) translateX(-20px);
					opacity: 0;
					transition: @transition;
				}
				&:hover {
					background: rgba(0, 0, 0, .05);
				}
			}
			input[type="checkbox"]:checked + label {
				color: #ffffff;
				background: @clr-green;
				border-color: @clr-green;
				&:before {
					opacity: 1;
    				transform: scale(1) translateX(0);
				}
			}
			input[type="checkbox"] + label::before {
				.fa();
				content: @fa-var-check;
			}
		}
	}
}