@import (reference) "../../../pb-main.less";

.adminpage-banner-manage-frame{
	.adminpage-subtitle{
		margin-top: -40px;

		@media screen and (max-width: @screen-xs-max){
			margin-top: 0;			
		}
	}


	#pb-adminpage-banner-manage-table-form{
		th,td{
			&.banner_image{
				width: 70%;
				> .banner-image{
					width: 100%;
					height: auto;
				}
			}
		}
	}
	

}

#pb-banner-manage-edit-popup-form{

	

	&.edit-form{
		.text-add{
			display: none;
		}
	}	

	&.add-form{
		.text-edit{
			display: none;
		}
	}
}