@import (reference) "../../pb-main.less";

.pb-notice-table{
    .pb-table-border;
    table-layout: fixed;


    th.notice_title,
    td.notice_title{
        position: relative;

        @media screen and (min-width: @screen-sm-min){
            padding-left: 20px;
        }

    }


    th.reg_date,
    td.reg_date{
        text-align: center;
        width: 200px;

        

        &:after{
            display: table;
            content: "";
            clear: both;
        }
    }

    td.notice_title{
        
        > a{
            color: @gray-dark;

            max-width: 80%;
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            vertical-align: middle;

            &:hover,&:active,&:visited{
                color: lighten(@gray-dark, 10%);
            }
        }
            
        
        @media screen and (max-width: @screen-xs-max){
            display: block;
            width: 100%;
            padding-bottom: 5px;
        }
    }

    th.reg_date{
        @media screen and (max-width: @screen-xs-max){
            display: none;
        }
    }

    
    td.reg_date{

        color: @gray-light;
         font-size: 11px;
        vertical-align: middle;

        @media screen and (max-width: @screen-xs-max){
            display: block;
            width: 100%;
            border-top: none;
            padding-top: 0;
        }

        > .date-item{
            float: right;
            margin-left: 6px;

            > .icon{
                display: none;
                margin-right: 3px;
                @media screen and (max-width: @screen-xs-max){
                    display: inline-block;
                }
            }
        }

        > .date-item.view-count{
            display: none;
            @media screen and (max-width: @screen-xs-max){
                display: block;
            }
        }
    }


}

.pb-notice-top-label{

    > .notice-title{
        margin-top: 0;
        margin-bottom: 5px;
        display: inline-block;
        margin-right: 10px;
    }

    > .notice-desc{
        display: inline-block;
        margin: 0;
    }

    > .list-btn{
        float: right;
    }

    &:after{
        display: table;
        content: "";
        clear: both;
    }
}

.pb-notice-view-frame{


    .pb-notice-view{
        border-top: 1px solid @gray-light;
        border-bottom: 1px solid lighten(@gray-light, 10%);

        .pb-notice-header{
            border-bottom: 1px solid @gray-lighter;
            display: table;;
            table-layout: fixed;
            width: 100%;
            padding: 0 10px;
            
            > .title,
            > .subinfo{
                display: table-cell;
                vertical-align: middle;

                @media screen and (max-width: @screen-xs-max){
                    display: block;
                }
            }

            > .title{
                // line-height: 2;
                margin: 0;
                width: 65%;
                line-height: 1.3;
                margin: 0;
                width: 65%;
                padding: 10px 0;
                @media screen and (max-width: @screen-xs-max){
                    width: 100%;
                }
            }
            > .subinfo{
                text-align: right;
                font-size: 10px;
                color: @gray-light;
                line-height: 2;

                > .item{
                    display: inline-block;


                    & + .item{
                        margin-left: 5px;
                    }

                    > .icon{
                        color: lighten(@gray-light, 5%);
                        margin-right: 3px;
                    }
                }

            }
        }

        .pb-notice-body{
            padding: 20px 10px;
            word-break: keep-all;
            word-wrap: break-word;

            img{
                max-width: 100%;
                height: auto;
            }
        }

        .pb-notice-footer{
            border-top: 1px solid @gray-lighter;
            padding: 10px 10px;

            > .attachment-files{
                margin-bottom: 0;
                padding-left: 0;
                list-style: none;

                li > a{
                    font-size: 12px;
                    color: @gray;
                    &:focus, &:active, &:visited, &:hover{
                        color: @gray-dark;
                        text-decoration: none;
                    }
                }

                > li + li{
                    margin-top: 5px;
                }
            }
        }
    }

    .notice-content-wrap{
        margin-bottom: 20px;

        .notice-content-bottom-label{
            padding: 10px;
            border-top: 1px solid lighten(@gray-light, 10%);
        }
    }

}