@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (max-width: 479px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
}
@media (min-width: 480px) {
}
#pb-footer {
  background-color: white;
  color: #777777;
  border-top: 1px solid #eeeeee;
}
#pb-footer > .container {
  padding: 30px 0;
}
#pb-footer .footer-widget-item {
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  #pb-footer .footer-widget-item {
    margin-bottom: 0;
  }
}
#pb-footer .footer-container-row {
  color: #777777;
  font-size: 12px;
  line-height: 20px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  #pb-footer .footer-container-row {
    font-size: 11px;
  }
}
@media (min-width: 480px) {
}
#pb-footer .footer-container-row a:not(.btn) {
  color: #9e9e9e;
}
#pb-footer .footer-container-row a:not(.btn):hover,
#pb-footer .footer-container-row a:not(.btn):focus {
  color: #b8b8b8;
}
#pb-footer .footer-container-row ul {
  padding-left: 0;
  list-style: none;
}
#pb-footer .footer-container-row .widget-title {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
}
#pb-footer .footer-container-row .footer-logo,
#pb-footer .footer-container-row .footer-logo-mobile,
#pb-footer .footer-container-row .footer-social-enterprise-logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 150px;
  /*@media (min-width: @screen-sm-min){
				max-width: 100%;
			}*/
}
@media (max-width: 991px) {
  #pb-footer .footer-container-row .footer-logo,
  #pb-footer .footer-container-row .footer-logo-mobile,
  #pb-footer .footer-container-row .footer-social-enterprise-logo {
    margin: 0 auto 30px auto;
  }
}
#pb-footer .footer-container-row .footer-logo-mobile {
  display: none;
}
@media (max-width: 991px) {
  #pb-footer .footer-container-row .footer-logo-mobile {
    margin: 0 0 0 0;
    display: inline-block;
    max-width: 200px;
  }
}
#pb-footer .footer-container-row .footer-social-enterprise-logo {
  margin: 50px 0 0 0;
  width: 100%;
  max-width: 200px;
  opacity: 0.5;
  margin-top: 50px;
}
@media (max-width: 991px) {
  #pb-footer .footer-container-row .footer-social-enterprise-logo {
    margin: 0 0 0 10px;
    display: inline-block;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  #pb-footer .footer-container-row .footer-social-enterprise-logo {
    max-width: 150px;
  }
}
@media (max-width: 767px) {
  #pb-footer .footer-container-row .footer-social-enterprise-logo {
    max-width: 100px;
  }
}
@media (max-width: 991px) {
  #pb-footer .footer-container-row .footer-logo-wrap {
    text-align: center;
    margin-top: 20px;
  }
}
#pb-footer .footer-menu-wrap {
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  #pb-footer .footer-menu-wrap {
    margin-bottom: 0;
    text-align: center;
  }
}
#pb-footer .footer-menu-wrap > .footer-menu {
  display: block;
  width: 100%;
}
@media (max-width: 991px) {
  #pb-footer .footer-menu-wrap > .footer-menu {
    display: none;
  }
}
#pb-footer .footer-menu-wrap > .footer-menu > li {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 15px;
}
#pb-footer .footer-menu-wrap > .footer-menu > li + li {
  margin-left: 15px;
}
#pb-footer .footer-menu-wrap > .footer-menu-select {
  display: none;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  #pb-footer .footer-menu-wrap > .footer-menu-select {
    display: block;
  }
}
#pb-footer .footer-menu-wrap > .footer-menu-select .dropdown-menu {
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
#pb-footer .footer-item > .title {
  text-transform: uppercase;
  font-size: 13px;
}
@media (max-width: 991px) {
  #pb-footer .footer-item {
    text-align: center;
  }
}
#pb-footer .footer-menu-list {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  float: left;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  #pb-footer .footer-menu-list {
    float: none;
    display: block;
    text-align: center;
  }
}
#pb-footer .footer-menu-list > li {
  display: inline-block;
  float: left;
  font-size: 12px;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  #pb-footer .footer-menu-list > li {
    display: block;
    float: none;
  }
}
#pb-footer .footer-menu-list > li > a {
  color: #4e4e4e;
}
#pb-footer .footer-menu-list > li + li:before {
  display: inline-block;
  margin: 0 5px 0 10px;
  content: "|";
  color: #555555;
}
@media screen and (max-width: 767px) {
  #pb-footer .footer-menu-list > li + li:before {
    display: none;
  }
}
#pb-footer .footer-menu-list:after {
  display: table;
  content: "";
  clear: both;
}
