@import (reference) "../../pb-main.less";

.pb-press-table{
    .pb-table-border;
    table-layout: fixed;


    th.press_title,
    td.press_title{
        position: relative;
            
        .post-title-row{
            display: table;
            table-layout: fixed;
            width: 100%;


            > *{
                display: table-cell;
                vertical-align: top;

                @media screen and (max-width: @screen-xs-max){
                    display: block;                    
                }

                &.feature-image-col{
                    width: 130px;
                    padding-right: 10px;
                     @media screen and (max-width: @screen-xs-max){
                        width: 100%;
                        padding-right: 0;
                    }
                }

                &.post-title-col{

                    @media screen and (max-width: @screen-xs-max){
                        margin-top: 10px;
                    }
                    .press-title{

                    }
                }
            }
        }

        .feature-image{
            display: inline-block;
            margin-right: 10px;
            width: 100%;
            height: auto;
            float: left;
        }
        .press-title{
            font-weight: bold;
            display: block;
        }

        .press-html{
            font-size: 12px;
            color: @gray-light;
        }

        @media screen and (min-width: @screen-sm-min){
            padding-left: 20px;
        }

        &:after{
            display: table;
            content: "";
            clear: both;
            width: 100%;
        }

    }


    th.reg_date,
    td.reg_date{
        text-align: center;
        width: 200px;

        &:after{
            display: table;
            content: "";
            clear: both;
        }
    }

    td.press_title{
        
        > a{
            color: @gray-dark;

            max-width: 80%;
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            vertical-align: middle;

            &:hover,&:active,&:visited{
                color: lighten(@gray-dark, 10%);
            }
        }
            
        
        @media screen and (max-width: @screen-xs-max){
            display: block;
            width: 100%;
            padding-bottom: 5px;
        }
    }

    th.reg_date{
        @media screen and (max-width: @screen-xs-max){
            display: none;
        }
    }

    
    td.reg_date{

        color: @gray-light;
         font-size: 11px;
        vertical-align: middle;

        @media screen and (max-width: @screen-xs-max){
            display: block;
            width: 100%;
            border-top: none;
            padding-top: 0;
        }

        > .date-item{
            margin-left: 6px;

            @media screen and (max-width: @screen-xs-max){
               float: right; 
            }

            > .icon{
                display: none;
                margin-right: 3px;
                @media screen and (max-width: @screen-xs-max){
                    display: inline-block;
                }
            }
        }

        > .date-item.view-count{
            display: none;
            @media screen and (max-width: @screen-xs-max){
                display: block;
            }
        }
    }


}

.pb-press-top-label{

    > .press-title{
        margin-top: 0;
        margin-bottom: 5px;
        display: inline-block;
        margin-right: 10px;
    }

    > .press-desc{
        display: inline-block;
        margin: 0;
    }

    > .list-btn{
        float: right;
    }

    &:after{
        display: table;
        content: "";
        clear: both;
    }
}

.pb-press-view-frame{


    .pb-press-view{
        border-top: 1px solid @gray-light;
        border-bottom: 1px solid lighten(@gray-light, 10%);

        .pb-press-header{
            border-bottom: 1px solid @gray-lighter;
            display: table;;
            table-layout: fixed;
            width: 100%;
            padding: 0 10px;
            
            > .title,
            > .subinfo{
                display: table-cell;
                vertical-align: middle;

                @media screen and (max-width: @screen-xs-max){
                    display: block;
                }
            }

            > .title{
                // line-height: 2;
                margin: 0;
                width: 65%;
                line-height: 1.3;
                margin: 0;
                width: 65%;
                padding: 10px 0;
                @media screen and (max-width: @screen-xs-max){
                    width: 100%;
                }
            }
            > .subinfo{
                text-align: right;
                font-size: 10px;
                color: @gray-light;
                line-height: 2;

                > .item{
                    display: inline-block;


                    & + .item{
                        margin-left: 5px;
                    }

                    > .icon{
                        color: lighten(@gray-light, 5%);
                        margin-right: 3px;
                    }
                }

            }
        }

        .pb-press-body{
            padding: 20px 10px;
            word-break: keep-all;
            word-wrap: break-word;

            img{
                max-width: 100%;
                height: auto;
            }
        }

        .pb-press-footer{
            border-top: 1px solid @gray-lighter;
            padding: 10px 10px;

            > .attachment-files{
                margin-bottom: 0;
                padding-left: 0;
                list-style: none;

                li > a{
                    font-size: 12px;
                    color: @gray;
                    &:focus, &:active, &:visited, &:hover{
                        color: @gray-dark;
                        text-decoration: none;
                    }
                }

                > li + li{
                    margin-top: 5px;
                }
            }
        }
    }

    .press-content-wrap{
        margin-bottom: 20px;

        .press-content-bottom-label{
            padding: 10px;
            border-top: 1px solid lighten(@gray-light, 10%);
        }
    }

}