@import (reference) "../pb-main.less";

.pb-adminpage-template-edit-form{
	.wp-editor-form-group{
		.image-upload-button-wrap{
			float: right;
			margin-bottom: 5px;
		}


		
	}

	.hidden-control{
		height: 0;
	    padding: 0;
	    border: 0;	
	}	
	
}



