@import (reference) "../pb-main.less";

.search-frame.minus-margin-top{
	margin-top: -40px;
}

table{
	&.tinytable{
		font-size: 12px;

		tbody,thead,tfoot{
			> tr{
				> td, > th{
					padding: 6px;
				}
			}
		}
	}
}

.pb-adminpage-templated-list-table{


	th,td{
		&.col-12{
			width: 100%;
		}
		&.col-11{
			width: 91.6666667%;
		}
		&.col-10{
			width: 83.3333333%;
		}
		&.col-9{
			width: 75%;
		}
		&.col-8{
			width: 66.6666667%;
		}
		&.col-7{
			width: 58.3333333%;
		}
		&.col-6{
			width: 50%;
		}
		&.col-5{
			width: 41.6666667%
		}
		&.col-4{
			width: 33.3333333%;
		}
		&.col-3{
			width: 25%;
		}

		&.col-2{
			width: 16.6666667%
		}
		&.col-1{
			width: 8.3333333%;
		}
		&.col-seq{
			width: 4%;
		}
		

	}
}