@import (reference) "../pb-main.less";

.page-404-frame{
	padding: 15% 30px 20% 30px;

    @media (min-width: @screen-xs-min){
        padding: 10% 30px 15% 30px;    
    }

    text-align: center;

    .logo-wrap{
    	> .text{
			font-size: 180px;
			font-weight: 100;
			color: @gray-lighter;
			line-height: 220px;
    		margin-bottom: 10px;
    	}

        > .logo{
            max-width: 350px;
            height: auto;
            width: 100%;
            margin-bottom: 0;
        }

    }

    .desc{
        color: @gray-light;
    }
}