@import (reference) "../pb-main.less";
/* ------ MOBILE_MENU ------ */
.mobile_menu{
	position:relative;
    display:block;
    margin: 0px -8px;
    .sidemenu{
        background: #fff;
        // HEADER
        .m_header{
            padding:20px 20px 14px;
            background:#32373b;
            // 이름표기
            span{ 
                color:#fff;
                text-align:left;
                position:relative;
                line-height:35px;
                padding-left:10px;
                font-size: 20px;
                .small{
                    font-size: 12px;
                    font-weight: normal;
                }
                .mainLogout{
                    padding: 1px 10px;
                    background: none;
                    border: none;
                    color: #fff;
                    font-size: 11px;
                    letter-spacing: -0.03em;
                    margin-left: 10px;
                    border: 1px solid rgba(255,255,255,.6);
                }
            }
            // 로그인 ,회원가입
            .mainNav{
                border:1px solid #fff;
                color:#fff;
                float:left;
                font-size:13px;
                padding: 8px 12px;
                margin-right:5px;
                border-radius: 5px;
            }
            // 원격지원, 로그아웃, 나가기
            .top-nav{
                margin-top: 11px;
                padding-top: 15px;
                border-top: 1px solid rgba(255,255,255,.4);
                a{
                    font-size:13px;
                    color:#fff;
                    width:33.3%;
                    text-align:center;
                    position:relative;
                    // font-weight:bold;
                    &::after{
                        content: '';
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        width: 1px;
                        background: rgba(255,255,255,.2);
                        right: 0;
                    }
                    &:last-of-type{
                        &::after{
                            display:none;
                        }
                    }
                }
            }
        }
    }  
}
.dropdown-menu, .sub_drop_menu{
    display:none;
}
.float_left{
    float:left;
}

.breadcrumb-wrap{
	background-color: #32373b;

	> .breadcrumb{
        background-color: #32373b;
    }
}