@import (reference) "../pb-main.less";

.page-email-policy-frame{
	
	.title-frame{
		display: table;
		table-layout: fixed;
		width: 100%;

		@media (max-width: @screen-sm-max){
			display: block;
		}	

		> .col{
			display: table-cell;
			vertical-align: middle;

			@media (max-width: @screen-sm-max){
				display: block;
			}

			&.col-title-image{
				width: 200px;

				@media (max-width: @screen-sm-max){
					width: 100%;
					margin-bottom: 20px;
				}

				> .image{
					width: 150px;
					display: block;
					margin: 0 auto;
				}
			}

			&.col-content{
				.title{
					font-size: 24px;
					font-weight: bold;
				}

				.subject{
					margin-top: 5px;
					font-size: 12px;
					color: @gray-light;
				}

				@media (max-width: @screen-sm-max){
					.title,
					.subject{

						text-align: center;
					}
					
				}	
			}
		}
	}

	.email-policy-frame{
		.email-policy-content{
			font-size: 11px;
			box-sizing: border-box;
			border: 1px solid @gray-light;
			padding: 20px;
			overflow-y: auto;
			max-height: 300px;
			background-color: @gray-lighter;
		}
	}
}