@import (reference) "../pb-main.less";

.page-home-frame{
	.movie-chart-wrap{
		position: relative;
		background-color:#f2f2f2;
		padding-top: 50px;
		padding-bottom: 40px;
		overflow-x: hidden;

		.movie-chart-type-menu{
			list-style: none;
			padding-left: 0;

			display: block;
			padding: 0;
			margin-bottom: 30px;

			> li{
				> a{
					color: #666;
					line-height: 30px;
					font-size: 16px;
					font-weight: 700;
					display: inline-block;
					
					text-decoration: none;

					&:hover, &:active, &:visited, &:focus{
						color: @brand-primary-dark;
					}
				

				}
			
				display: inline-block;
				border-bottom: 1px solid transparent;
				margin-right: 35px;

				@media screen and (max-width: @screen-xs-max){
					margin-right: 15px;					
				}

				&.actived{
					border-bottom-color: @brand-primary;

					> a{
						color: @brand-primary;
					}
				}


			}
		}
		//포스터 하단 영화제목 수정
		.movie-name	{
			font-size:14px;
			font-weight: 700;
		}
	}

	#pb-home-movie-chart-slider{

		overflow: visible;

		.next-btn,
		.prev-btn{
			position: absolute;
			font-size: 50px;
			color: white;
			top: 45%;
			z-index: 9;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			opacity: 0.3;
		}

		.next-btn{
			right: -30px;
		}
		.prev-btn{
			left: -30px;
		}
		@media screen and (max-width: @screen-sm-max){
			.next-btn{
				right: 15px;
			}
			.prev-btn{
				left: 15px;
			}	
		}
	}

	//공지사항, 언론보드, 버튼
	.homeboard-wrap{
		padding-top: 60px;
		padding-bottom: 80px;

		@media screen and (max-width: @screen-xs-max){
			padding-top: 40px;
			padding-bottom: 30px;			
		}

		.homeboard-item{
			margin: 0px 15px;
			border: 1px solid darken(@gray-lighter, 10%);
			box-shadow: 0 3px 7px rgba(0,0,0,0.1);
			padding: 15px 20px;
			box-sizing: border-box;
			height: 258px;
			background-color: white;

			// @media screen and (min-width: @screen-sm-min){
			// 	&.media-board{
			// 		padding-left: 10px;
			// 	}
			// 	&.news-board{
			// 		padding-right: 10px;
			// 	}
			// }
			@media screen and (max-width: @screen-xs-max){
				&.media-board{
					margin-top: 30px;
				}
			}
			

			.homeboard-header{
				height: 50px;
				box-sizing: border-box;
				padding: 10px 0;

				> .left{
					float: left;
					> h3{
						font-size: 18px;
						font-weight: 700;
						line-height: 30px;
						color: #000000;
						margin-top: 0;
						margin-bottom: 0;
						border-bottom: 3px solid #32373b;
					}
				}
				> .right{
					float: right;
					line-height: 30px;
					font-size: 15px;
					line-height: 30px;
					
					> a{
						color: #969696;
						text-decoration: none;

						&:hover,&:active,&:visited,&:focus{
							text-decoration: none;
							color: dakren(#969696,10%);
						}
					}
				}
				&:after{
					display: table;
					content: "";
					clear: both;
					widows: 100%;
				}
			}

			.homeboard-body{
				box-sizing: border-box;

				.homeboard-table{
					list-style: none;
					padding: 0;
					width: 100%;

					> li{
						display: block;
						height: 35px;
						box-sizing: border-box;
						padding: 10px;

						> .post-title{
							float: left;
							.textoverflow(70%);
							
							> a{
								display: inline-block;
								line-height: 25px;
								font-size: 15px;
								color: #333332;
								&:hover,&:active,&:visited,&:focus{
									color: lighten(#333332, 10%);
									text-decoration: none;
								}
							}
						}

						> .wrt-date{
							float: right;
							font-size: 13px;
							line-height: 25px;
							text-align: left;
							color: #969696;
						}

						&:after{
							display: table;
							content: "";
							clear: both;
						}

						& + li{
							border-top: solid 1px #eeeeee;
						}
					}
				}
			}	
		}

		.customer-info-frame{					
			text-align: center;
			margin: 0 auto;			

			@media screen and (max-width: @screen-sm-max){
				//max-width: 700px;	
				margin: 30px 15px 10px 15px;
			}
			.customer-info-event{
				img{
					width: 100%;
					min-height: 250px;
					@media screen and (max-width: @screen-md-min){
						height: 250px;
						width:auto;
					}
				}
			}
			.swiper-container {	
				.swiper-pagination-bullet,.swiper-pagination-bullet-active{
					background-color:#fff;
				}
			}		
		}
	}

	//파트너 슬라이더
	#pb-home-partner-slider{
		margin-top: 40px;
		margin-bottom: 40px;
		.partner-item{
			img{
				width: 100%;
				height: auto;			
			}
		}
	}
	.partner-slider-wrap{
		border-top: 1px solid #e5e5e5;
	}
	
	//작은영화관 찾기
	.cinema-list-wrap{
		//padding-top: 50px;
		//padding-bottom: 50px;
		padding:50px;
		background-color: #161616;
		background-image: url("../../../../img/home/background/home-slider-bak2.png");
		.cinema-list-title{
			font-size: 21px;
			font-weight: 700;
			line-height: 1.9;
			color: #32373b;
			margin-top: 0;
			margin-bottom: 0;

			@media screen and (max-width: @screen-sm-max) and (min-width: @screen-sm-min){
				font-size: 18px;
			}
			@media screen and (max-width: @screen-xs-max){
				font-size: 16px;
			}
		}
		.cinema-list{
			position: relative;
			margin-top: 10px;

			> .cinema-item{
				position: relative;
				display: block;
				width: 100%;
				padding-left: 90px;
				margin-bottom: 10px;	

				@media screen and (max-width: @screen-sm-max) and (min-width: @screen-sm-min){
					padding-left: 60px;
					margin-bottom: 5px;
				}

				.area{
					position: absolute;
					display: block;
					width: 60px;
					text-align: right;
					height: 40px;
					line-height: 1.8;
					
					font-size: 16px;
					font-weight: 700;
					color: #32373b;
					left: 0;
					top: 0;

					@media screen and (max-width: @screen-sm-max) and (min-width: @screen-sm-min){
						width: 45px;
						font-size: 15px;
					}
					@media screen and (max-width: @screen-xs-max){
						font-size: 15px;
					}
				}

				.links{					
					&:after{
						display: table;
						content: "";
						width: 100%;
						clear: both;
					}

					> a,
					> .comingsoon,
					> .divchar{
						font-size: 16px;
						font-weight: 700;
						line-height: 1.8;
						color: #969696;		
						display: inline-block;
						// float: left;
						vertical-align: top;

						@media screen and (max-width: @screen-sm-max) and (min-width: @screen-sm-min){
							font-size: 14px;
						}

						@media screen and (max-width: @screen-xs-max){
							clear: both;
							display: block;
							font-size:14px;
						}
					}
 
					> a{
						&:hover,&:active,&:focus,&:visited{
							color: lighten(#969696, 10%);
							text-decoration: none;
						}
					}

					> .divchar{
						height: 28px;
						position: relative;

						@media screen and (max-width: @screen-xs-max){
							display: none;
						}

						@media screen and (max-width: @screen-sm-max) and (min-width: @screen-sm-min){
							height: 23px;
						}

						&:after{
							display: block;
							content: "";
							width: 2px;
							height: 10px;
							background-color: #969696;
							margin-top: 9px;
							margin-left: 10px;
							margin-right: 10px;
							@media screen and (max-width: @screen-sm-max){
								margin-top: 7px;
								width: 1px;
								margin-left: 7px;
								margin-right: 7px;
							}
						}
					}

					> .comingsoon{
						font-weight: normal;
						color: darken(#969696,10%);		
					}
				}

				
			}
		}
	}

	#pb-home-movie-chart-slider1,
	#pb-home-movie-chart-slider2{
		.swiper-wrapper{
			padding-bottom: 40px;
		}
	}
	.sc-swiper{
		position:absolute;
		left:50%;
		top:50%;
		width:1300px;
		margin-left:-650px; 

		@media screen and (max-width: @screen-xs-max) and (min-width: @screen-sm-min){
			display: none;
		}

		@media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){
			width:1050px;
			margin-left:-530px; 
		}
		.swiper-button-next,
		.swiper-button-prev, 
		.swiper-container-rtl .swiper-button-prev,
		.swiper-container-rtl .swiper-button-next{
    		fill: #000;
		}
	}

	//메인 슬라이더 
	.main-banner-slider-wrap{
		position: relative;
		height: 380px;

		@media screen and (max-width: @screen-xs-max){
			display: none;
		}

		@media screen and (max-width: @screen-md-max) and (min-width: @screen-sm-min){
		 	height: 250px;
		}

		.swiper-container {
			width: 100%;
			height: 100%;
	
			.swiper-pagination-bullet,.swiper-pagination-bullet-active{
				background-color:#fff;
			}
			// .swiper-wrapper {
			// 	.swiper-slide{
			// 		background-size: cover !important;
			// 		background-position: center !important;
			// 		background-repeat: no-repeat !important;
			// 	}
			// }
		}
	}

	/* 메인 슬라이더2  */
	.main-visual-slide{
		list-style: none;
		padding: 0;
		//height: 380px;
		li{
			//height: 380px;
			background-size: auto !important;
			//min-width:1200px;
			overflow:hidden;
			list-style:none;

			.bg-right{ 
				display: block;
				position: absolute;
				left: 50%;
				top:0px;
				right:0px;
				bottom: 0px;
				background: #fff;
			}
			.bg-left{
				display: block;
				position: absolute; left: 0; top:0px; right:50%; bottom: 0px;
				background: #fff;
			}
			.bg-content{
				display:block;
				position:relative;
				height:100%;
				max-width: 1600px;
				margin: 0 auto;
				background-position:center;
				background-repeat: no-repeat;
				
				@media screen and (max-width: @screen-md-max) and (min-width: @screen-sm-min){
					height: 250px;
					width: 100%;
					background-size: cover !important;
			    }
				&:before{
					display: none;
				}
				a{
					color:#fff;
					text-decoration:none;
				}
				span{opacity: 1;}

				.youtube-con{
					display: block;
					position: absolute;
					top:30px;
					right:50px;
					bottom: 0px;
				}
				p{
					position:absolute;
					left:45%;
					color:#fff;
					bottom: 50%; 
					width: auto;
					margin: 0px 0px 0px -540px;
					-webkit-transform: translateY(50%);
					-moz-transform: translateY(50%);
					transform: translateY(50%);
					text-align: left;
					&.event{
						left:40%;
						.title { font-size: 16px; line-height: 20px; }
						.sub { font-size:35px; line-height: 42px; }
					}
					.title{
						display: block;
						margin-bottom: 0px;
						line-height: 50px;
						font-size: 45px; font-weight: 400;
						opacity: 1;
						.small{
							font-size: 35px;
							display:block;
						}
					}
					.boxinfo{
						position: relative;
						line-height: 30px; 
						padding: 10px 60px;
						font-size: 15px;
						font-weight: 300;
						letter-spacing: 1px;
						opacity: 1;
						display:inline-block;
						&:before{
							content: '';
							display: block;
							position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
							border: 1px solid #fff;
							opacity: 0.6;
						}
					}
					.boxbtn{						
						display: block;
						margin-top:15px;
						&:hover{
							background-color:rgba(0,0,0,.7);
							color: #fff;
						}
					}
					.sub{
						display: block;
						line-height: 24px;
						margin: 0px;
						font-size: 20px; 
						font-weight: 400;
						opacity: 0.7;
					}
					.sub2{
						font-size:17px;
						line-height: 18px;
						color: #fff;
						margin: 20px 0px;
						letter-spacing: .5px;
					}
					.boxinfo+.title, .title+.sub, .sub+.boxinfo{
						margin-top: 18px;
					}

					@media screen and (max-width: @screen-md-max) and (min-width: @screen-sm-min){	
						left:65%;

						.title{ 
							font-size: 20px; 
							line-height: 25px;
							.small {font-size: 16px;}
						}
						.sub,.sub2{
							font-size: 14px;
							line-height: 16px;
						}
						&.event{
							left:65%; 
							.title { font-size: 14px; line-height: 16px; }
							.sub { font-size:20px; line-height: 25px; }
						}
						.boxinfo{
							line-height: 20px;
							padding: 10px 40px;
						}
			   		}
				}
			}
		}
	}
}