@import (reference) "../pb-main.less";

.page-faq-frame{
	.faq-panel{

		.panel-heading{
			// padding: 5px 10px;

			.panel-title{
				>.icon{
					margin-right: 5px;
					color: #a7a7a7;
				}
			}
		}

			
	}
}