@import (reference) "../../pb-main.less";

.page-cinema-list-frame{
	

	.cinema-frame-row{
		display: table;
		table-layout: fixed;
		width: 100%;

		> .map-col,
		> .list-col{
			display: table-cell;
			vertical-align: top;
		}

		> .map-col{
			width: 300px;
		}
	}
	
	.korea-map-frame{
		width: 300px;
		padding: 20px;

		#pb-korea-map{
			width: 100%;
			position: relative;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-image: url("../../../img/location-korea-map.jpg");
			padding-top: 141.9921875%;

			.link{
				position: absolute;
				font-weight: bold;
				font-size: 17px;
				color: #585858;
			}
			.link-1001{
				left: 10%;
				top: 17%;
				
			}
			.link-1011{
				    left: 30%;
			    top: 20%
			}
			.link-1021{
				left: 61%;
				top: 17%;	
			}
			.link-1031{
				left: 41%;
				top: 41%;
			}
			.link-1041{
				    left: 18%;
				top: 45%;
			}
			.link-1051{
				left: 23%;
			    top: 64%;
			}
			.link-1061{
				left: 17%;
			    top: 83%;
			}
			.link-1071{
				left: 72%;
			    top: 52%;
			}
			.link-1081{
				left: 58%;
			    top: 75%;
			}
		}
	}

	.cinema-table{
		border-top: 3px solid @brand-primary;
		border-bottom: 1px solid darken(@brand-primary, 10%);

		.cinema-td-item{
			.cinema-name{
				font-size: 16px;
				font-weight: bold;;

			}
			.address,.phone-num{
			    font-size: 13px;
				color: @gray-light;
			}
		}
	}

}