@import (reference) "../../../pb-main.less";

.adminpage-movie-screen-status-frame{

	@media screen and (min-width: @screen-sm-min){
		.search-frame{
			    margin-top: -34px;
		}	
	}
	
	.div-line{
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
    
}

.pb-movie-screen-status-table{

	> tbody > tr, > thead > tr{
		> th, > td{
			width: 33.33333%;
			padding: 5px;
		}	
	}
	

	td{
		vertical-align: middle;
		
		> .mm-title{
			color: @gray-light;
			padding-bottom: 4px;
			margin-bottom: 3px;
			border-bottom: 1px solid @gray-lighter;
			font-weight: 800;

		}

		> .movie-list{
			display: block;
			min-height: 80px;
			font-size: 12px;
			line-height: 14px;
			padding-left: 20px;
			padding-top: 0px;
    		margin-bottom: 0;


			> li{
				margin-bottom: 5px;
			}
		}

		&.status-0{
			color: @brand-danger;
		}
		&.status-1{
			color: @brand-info;
		}
		&.status-2{
			// color: @brand-info;
		}
	}
		
}


