@import (reference) "../../../pb-main.less";

.adminpage-faq-manage-frame{
	.adminpage-subtitle{
		margin-top: -40px;

		@media screen and (max-width: @screen-xs-max){
			margin-top: 0;			
		}
	}


	#pb-adminpage-faq-manage-table-form{
		th,td{
			&.faq_content{
				width: 70%;
				> .faq_title{
					display: block;
					margin-bottom: 5px;
					font-weight: bold;
				}

				> .faq-desc{
					display: block;
					color: @gray-light;
				}
			}
		}
	}
	

}

#pb-faq-manage-edit-popup-form{

	

	&.edit-form{
		.text-add{
			display: none;
		}
	}	

	&.add-form{
		.text-edit{
			display: none;
		}
	}
	#pb-faq-manage-edit-form-faq_desc{
	    min-height: 300px;
	        resize: vertical;
	}
}