@import (reference) "../../../pb-main.less";

.adminpage-cinema-seat-manage-frame{
	.adminpage-subtitle{
		margin-top: -40px;

		@media screen and (max-width: @screen-xs-max){
			margin-top: 0;			
		}
	}


	#pb-adminpage-cinema-seat-manage-table-form{
		th,td{
			&.seat_content{
				width: 50%;
			}
			&.status{
				width: 20%;
				text-align: center;
			}
		}
	}
}