@import (reference) "../../../pb-main.less";

.page-cinema-seat-manage-frame{
	
	.pb-seattable{

		border: 1px solid @gray-light;
		overflow-x: auto;
		position: relative;
		display: block;
		
		box-sizing: border-box;
		min-height: 235px;
		-webkit-overflow-scrolling : touch;
		max-height: 500px;
		overflow-y: auto;
		text-align: center;

		.seattable-wrap{
			position: relative;
			display: inline-block;
			padding: 20px 15px 30px 15px;
		}

		@media screen and (max-width: @screen-xs-max){
			min-height: auto;
			height: 300px;
			max-height: 300px;
		}
		

		.screen-frame{
			box-sizing: border-box;
			position: relative;
			margin: 0 auto;
			min-width: 76px;

			.screen{
				position: relative;
				display: block;
				width: auto;
				// height: 10px;
				margin: 0 auto 30px auto;

				border-top: 5px solid @gray-light;
				color: @gray-light;
				text-align: center;
				
				> .text{
					font-size: 20px;
					font-weight: bold;
				}

			}	
		}

		
		
		.seattable-row{
			position: relative;
			display: table;
			margin: 0 auto;
			min-width: 76px;

			&:after{
				display: table;
				content: "";
				clear: both;
				width: 100%;
			}

			.seattable-col{
				display: table-cell;
				width: 76px;
				height: 77px;
				padding: 3px 3px;
				vertical-align: top;

				.seat-item{
					display: inline-block;
					width: 70px;
					height: 65px;
					border-radius: 15px;
					border: 1px solid @gray-light;
					background-color:@gray-lighter;
					padding: 0 3px;
					text-align: center;
					overflow: hidden;
					
					
    				transition: box-shadow 0.3s;
    				-webkit-transition: box-shadow 0.3s;

    				&.active{
    					box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    				}


					> .seat-name{
						display: block;
						border: none;
						background-color:@gray-lighter;
						outline: none;
						font-size: 20px;
						font-weight: bold;
						line-height: 30px;
						width: 100%;
						text-align: center;

						&::-webkit-input-placeholder,
						&::-moz-placeholder,
						&:-ms-input-placeholder,
						&:-moz-placeholder,
						&::placeholder{
							color: @gray-light;
						}
					}

					> .seat-type{
						padding: 0;
						height: 27px;
						border-radius: 0;
					}

					&.seat-type-00001{ //일반
						> .seat-type{
							background-color:@gray-lighter;
						}
					}

					&.seat-type-00003{ //라벨
						background-color:@gray-light;

						> .seat-name{
							background-color:@gray-light;
							color: white;
							&::-webkit-input-placeholder,
							&::-moz-placeholder,
							&:-ms-input-placeholder,
							&:-moz-placeholder,
							&::placeholder{
								color: @gray-lighter;
							}
						}

						> .seat-type{
							background-color:@gray-light;
							border-color: @gray;
							color: white;
						}
					}

					&.seat-type-00005{ //여백
						background-color: white;
						border: 1px dashed @gray-light;
						
						> .seat-name{
							background-color: white;
							color: #b7b7b7;

							&::-webkit-input-placeholder,
							&::-moz-placeholder,
							&:-ms-input-placeholder,
							&:-moz-placeholder,
							&::placeholder{
								color: lighten(#b7b7b7, 15%);
							}
						}
					}

					&.seat-type-00007{ //장애인,
						background-color: #3988ff;
						border: 1px solid #2359ab;
						
						> .seat-name{
							background-color: white;
							color: white;
							background-color: #3988ff;

							&::-webkit-input-placeholder,
							&::-moz-placeholder,
							&:-ms-input-placeholder,
							&:-moz-placeholder,
							&::placeholder{
								color: @gray-lighter;
							}
						}
						> .seat-type{
							background-color: #3988ff;
							color: white;
							border-color: #2359ab;
						}
					}

					&.seat-type-00009{ //커플석,
						background-color: #ff398b;
						border: 1px solid #6d1f40;
						
						> .seat-name{
							background-color: white;
							color: white;
							background-color: #ff398b;

							&::-webkit-input-placeholder,
							&::-moz-placeholder,
							&:-ms-input-placeholder,
							&:-moz-placeholder,
							&::placeholder{
								color: @gray-lighter;
							}
						}
						> .seat-type{
							background-color: #ff398b;
							color: white;
							border-color: #6d1f40;
						}
					}
				}
			}
		}

	}
}