@import (reference) "../../../pb-main.less";

.adminpage-cinema-seat-manage-frame{
	.adminpage-subtitle{
		margin-top: -40px;

		@media screen and (max-width: @screen-xs-max){
			margin-top: 0;			
		}
	}
}

.pb-adminpage-cinema-seat-mst-manage-table{

	th,td{
		&.cinema_name{
			width: 50%;	
		}

		&.cinema-seat_cnt{
			text-align: center;
		}	
	}
}